projlibProjAfterDeploy/BZQServices/ActivationError02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ActivationError02="http://www.bezeq.co.il/XMLSchema/ActivationError02" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/ActivationError02">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="processId" type="xs:string"/>
							<xs:element name="cmOrderNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="creationTimeStamp" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="actionType" type="xs:integer"/>
							<xs:element minOccurs="0" name="handledBy" type="xs:string"/>
		<xs:element minOccurs="0" name="naRequestId" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="component">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="componentId" type="xs:string"/>
										<xs:element name="handleStatus" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
