projlibProjAfterDeploy/BZQServices/AddressPlanning02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:AddressPlanning02="http://www.bezeq.co.il/XMLSchema/AddressPlanning02" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/AddressPlanning02">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="cityId" type="xs:integer"/>
							<xs:element minOccurs="0" name="streetCode" type="xs:integer"/>
							<xs:element minOccurs="0" name="buildingNumber" type="xs:integer"/>
							<xs:element minOccurs="0" name="buildingLetter" type="xs:string"/>
							<xs:element minOccurs="0" name="addressFId" type="xs:integer"/>
							<xs:element minOccurs="0" name="actionType" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
				<xs:element minOccurs="0" name="fileCounter" type="xs:integer"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="tazpitFiles">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="fileNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="status" type="xs:string"/>
   							<xs:element minOccurs="0" name="teurStatus" type="xs:string"/>
							<xs:element minOccurs="0" name="fileName" type="xs:string"/>
							<xs:element minOccurs="0" name="fileType" type="xs:string"/>
            						<xs:element minOccurs="0" name="assignmentId" type="xs:integer"/>
							<xs:element minOccurs="0" name="assignment" type="xs:string"/>
							<xs:element minOccurs="0" name="appartmentCount" type="xs:integer"/>
							<xs:element minOccurs="0" name="floorCount" type="xs:integer"/>
							<xs:element minOccurs="0" name="entryCount" type="xs:integer"/>
							<xs:element minOccurs="0" name="startBuildingDate" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="endBuildningDate" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="contractorName" type="xs:string"/>
							<xs:element minOccurs="0" name="contactName" type="xs:string"/>
							<xs:element minOccurs="0" name="observatorId" type="xs:string"/>
         							<xs:element minOccurs="0" name="tamaIndication" type="xs:integer"/>
             	 					<xs:element minOccurs="0" name="actionId" type="xs:integer"/>
              						<xs:element minOccurs="0" name="actionDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="messageNum" type="xs:integer"/>
				<xs:element minOccurs="0" name="messageDesc" type="xs:string"/>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
