projlibProjAfterDeploy/BZQServices/AddressDetail01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:AddressConnection01="http://www.bezeq.co.il/XMLSchema/AddressConnection01" xmlns:AddressDetail01="http://www.bezeq.co.il/XMLSchema/AddressDetail01" xmlns:AddressPlanning01="http://www.bezeq.co.il/XMLSchema/AddressPlanning01" xmlns:AddressValidation01="http://www.bezeq.co.il/XMLSchema/AddressValidation01" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/AddressDetail01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/AddressValidation01" schemaLocation="AddressValidation01.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/AddressConnection01" schemaLocation="AddressConnection01.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/AddressPlanning01" schemaLocation="AddressPlanning01.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="semelYeshuv" type="xs:integer"/>
							<xs:element minOccurs="0" name="shemYeshuv" type="xs:string"/>
							<xs:element minOccurs="0" name="semelRechov" type="xs:integer"/>
							<xs:element minOccurs="0" name="shemRechov" type="xs:string"/>
							<xs:element minOccurs="0" name="misparBait" type="xs:integer"/>
							<xs:element minOccurs="0" name="otBait" type="xs:string"/>
							<xs:element minOccurs="0" name="knisa" type="xs:string"/>
							<xs:element minOccurs="0" name="koma" type="xs:integer"/>
							<xs:element minOccurs="0" name="dira" type="xs:integer"/>
							<xs:element minOccurs="0" name="taDoar" type="xs:integer"/>
							<xs:element name="sugTiknun" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="NKKKishur">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" ref="AddressValidation01:RepData"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="NKKShiyuch">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" ref="AddressConnection01:RepData"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="NTTTazpit">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" ref="AddressPlanning01:RepData"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
