projlibProjAfterDeploy/BZQServices/AddressMarking01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:AddressMarking01="http://www.bezeq.co.il/XMLSchema/AddressMarking01" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/AddressMarking01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="kodPeula" type="xs:string"/>
							<xs:element minOccurs="0" name="semellshuv" type="xs:integer"/>
							<xs:element minOccurs="0" name="semelRechov" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparBait" type="xs:integer"/>
							<xs:element minOccurs="0" name="sugBait" type="xs:string"/>
							<xs:element minOccurs="0" name="otBait" type="xs:string"/>
							<xs:element minOccurs="0" name="ramatKtovet" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
