projlibProjAfterDeploy/BZQServices/AlertNotification01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:AlertNotification01="http://www.bezeq.co.il/XMLSchema/AlertNotification01" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/AlertNotification01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="alertType" type="xs:integer"/>
							<xs:element minOccurs="0" name="failureId" type="xs:string"/>
							<xs:element minOccurs="0" name="jobId" type="xs:string"/>
							<xs:element name="startTime" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
							<xs:element maxOccurs="unbounded" name="units">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ip" type="xs:string"/>
										<xs:element name="msagKey" type="xs:string"/>
										<xs:element minOccurs="0" name="shelf" type="xs:string"/>
										<xs:element minOccurs="0" name="card" type="xs:string"/>
										<xs:element minOccurs="0" name="port" type="xs:string"/>
										<xs:element minOccurs="0" name="address" type="xs:string"/>
										<xs:element minOccurs="0" name="cityCode" type="xs:integer"/>
										<xs:element minOccurs="0" name="cityName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
