projlibProjAfterDeploy/BZQServices/ApiCustomerCreateValidation01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ApiCustomerCreateValidation01="http://www.bezeq.co.il/XMLSchema/ApiCustomerCreateValidation01" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/ApiCustomerCreateValidation01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="transactionId" type="xs:string"/>
							<xs:element minOccurs="0" name="banCrm" type="xs:string"/>
							<xs:element minOccurs="0" name="ban" type="xs:string"/>
							<xs:element minOccurs="0" name="actReason" type="xs:string"/>
							<xs:element minOccurs="0" name="companyRegisterNum" type="xs:string"/>
							<xs:element minOccurs="0" name="personalId2" type="xs:string"/>
							<xs:element minOccurs="0" name="custPersonalIdType" type="xs:string"/>
							<xs:element minOccurs="0" name="custPersonalIdType2nd" type="xs:string"/>
							<xs:element minOccurs="0" name="customerGrade" type="xs:string"/>
							<xs:element minOccurs="0" name="divisionCd" type="xs:integer"/>
							<xs:element minOccurs="0" name="regionCd" type="xs:integer"/>
							<xs:element minOccurs="0" name="companyType" type="xs:string"/>
							<xs:element minOccurs="0" name="otherTelno" type="xs:string"/>
							<xs:element minOccurs="0" name="tAdr">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="firstName" type="xs:string"/>
										<xs:element minOccurs="0" name="firstName2" type="xs:string"/>
										<xs:element minOccurs="0" name="lastName" type="xs:string"/>
										<xs:element minOccurs="0" name="lastName2" type="xs:string"/>
										<xs:element minOccurs="0" name="lastBusinessName" type="xs:string"/>
										<xs:element minOccurs="0" name="adrType" type="xs:string"/>
										<xs:element minOccurs="0" name="adrCity" type="xs:string"/>
										<xs:element minOccurs="0" name="adrStreetName" type="xs:string"/>
										<xs:element minOccurs="0" name="adrHouseNo" type="xs:string"/>
										<xs:element minOccurs="0" name="adrAptEntrance" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalHouseLetter" type="xs:string"/>
										<xs:element minOccurs="0" name="adrAptFloor" type="xs:string"/>
										<xs:element minOccurs="0" name="apartmentNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="adrPob" type="xs:string"/>
										<xs:element minOccurs="0" name="adrPostCode" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalCityCd" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalStreetCd" type="xs:string"/>
										<xs:element minOccurs="0" name="adrSecondaryLn" type="xs:string"/>
										<xs:element minOccurs="0" name="adrDistrict" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="lAdr">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="firstName" type="xs:string"/>
										<xs:element minOccurs="0" name="lastName" type="xs:string"/>
										<xs:element minOccurs="0" name="lastBusinessName" type="xs:string"/>
										<xs:element minOccurs="0" name="adrType" type="xs:string"/>
										<xs:element minOccurs="0" name="adrCity" type="xs:string"/>
										<xs:element minOccurs="0" name="adrStreetName" type="xs:string"/>
										<xs:element minOccurs="0" name="adrHouseNo" type="xs:string"/>
										<xs:element minOccurs="0" name="adrAptEntrance" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalHouseLetter" type="xs:string"/>
										<xs:element minOccurs="0" name="adrAptFloor" type="xs:string"/>
										<xs:element minOccurs="0" name="apartmentNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="adrPob" type="xs:string"/>
										<xs:element minOccurs="0" name="adrPostCode" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalCityCd" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalStreetCd" type="xs:string"/>
										<xs:element minOccurs="0" name="adrSecondaryLn" type="xs:string"/>
										<xs:element minOccurs="0" name="adrDistrict" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="bAdr">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="firstName" type="xs:string"/>
										<xs:element minOccurs="0" name="lastName" type="xs:string"/>
										<xs:element minOccurs="0" name="lastBusinessName" type="xs:string"/>
										<xs:element minOccurs="0" name="adrType" type="xs:string"/>
										<xs:element minOccurs="0" name="adrCity" type="xs:string"/>
										<xs:element minOccurs="0" name="adrStreetName" type="xs:string"/>
										<xs:element minOccurs="0" name="adrHouseNo" type="xs:string"/>
										<xs:element minOccurs="0" name="adrAptEntrance" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalHouseLetter" type="xs:string"/>
										<xs:element minOccurs="0" name="adrAptFloor" type="xs:string"/>
										<xs:element minOccurs="0" name="apartmentNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="adrPob" type="xs:string"/>
										<xs:element minOccurs="0" name="adrPostCode" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalCityCd" type="xs:string"/>
										<xs:element minOccurs="0" name="additionalStreetCd" type="xs:string"/>
										<xs:element minOccurs="0" name="adrSecondaryLn" type="xs:string"/>
										<xs:element minOccurs="0" name="adrDistrict" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="directInd" type="xs:string"/>
							<xs:element minOccurs="0" name="directUpdateDt" type="xs:date"/>
							<xs:element minOccurs="0" name="voiseInd" type="xs:string"/>
							<xs:element minOccurs="0" name="voiseUpdateDt" type="xs:date"/>
							<xs:element minOccurs="0" name="smsInd" type="xs:string"/>
							<xs:element minOccurs="0" name="smsUpdateDt" type="xs:date"/>
							<xs:element minOccurs="0" name="emailInd" type="xs:string"/>
							<xs:element minOccurs="0" name="emailUpdateDt" type="xs:date"/>
							<xs:element minOccurs="0" name="blProdFreq" type="xs:string"/>
							<xs:element minOccurs="0" name="groupName" type="xs:string"/>
							<xs:element minOccurs="0" name="corpName" type="xs:string"/>
							<xs:element minOccurs="0" name="cityTaxInd" type="xs:string"/>
							<xs:element minOccurs="0" name="accountType" type="xs:string"/>
							<xs:element minOccurs="0" name="departmentPrmName" type="xs:integer"/>
							<xs:element minOccurs="0" name="departmentSecName" type="xs:string"/>
							<xs:element minOccurs="0" name="benPersonalIdType" type="xs:string"/>
							<xs:element minOccurs="0" name="benPersonalId" type="xs:string"/>
							<xs:element minOccurs="0" name="printingCategory" type="xs:string"/>
							<xs:element minOccurs="0" name="mediaRequestInd" type="xs:string"/>
							<xs:element minOccurs="0" name="billFormat" type="xs:string"/>
							<xs:element minOccurs="0" name="printSubDetInd" type="xs:string"/>
							<xs:element minOccurs="0" name="creditClass" type="xs:string"/>
							<xs:element minOccurs="0" name="payment">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="cashOnlyInd" type="xs:string"/>
										<xs:element minOccurs="0" name="paymentMethod" type="xs:string"/>
										<xs:element minOccurs="0" name="bankCode" type="xs:string"/>
										<xs:element minOccurs="0" name="bankAcctNo" type="xs:string"/>
										<xs:element minOccurs="0" name="bankAcctHolders" type="xs:string"/>
										<xs:element minOccurs="0" name="creditCardType" type="xs:string"/>
										<xs:element minOccurs="0" name="creditCardExprDt" type="xs:string"/>
										<xs:element minOccurs="0" name="creditCardNum" type="xs:string"/>
										<xs:element minOccurs="0" name="ccHolder" type="xs:string"/>
										<xs:element minOccurs="0" name="ccIssueNo" type="xs:integer"/>
										<xs:element minOccurs="0" name="personalId" type="xs:string"/>
										<xs:element minOccurs="0" name="ddMandateStatus" type="xs:string"/>
										<xs:element minOccurs="0" name="ddMandateStatusDt" type="xs:date"/>
										<xs:element minOccurs="0" name="ddExemptInd" type="xs:string"/>
										<xs:element minOccurs="0" name="ddExemptRsnCd" type="xs:string"/>
										<xs:element minOccurs="0" name="dealerCode" type="xs:string"/>
										<xs:element minOccurs="0" name="salemanPersonalId" type="xs:string"/>
										<xs:element minOccurs="0" name="letterForDdInd" type="xs:string"/>
										<xs:element minOccurs="0" name="benTaxInd" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="newBillCycle" type="xs:integer"/>
							<xs:element minOccurs="0" name="accountSubType" type="xs:string"/>
							<xs:element minOccurs="0" name="sendNegligibleInd" type="xs:string"/>
							<xs:element minOccurs="0" name="benEmailAddr" type="xs:string"/>
							<xs:element minOccurs="0" name="businessRegisterNum" type="xs:string"/>
							<xs:element minOccurs="0" name="eMailAddr" type="xs:string"/>
							<xs:element minOccurs="0" name="sendByEmailInd" type="xs:string"/>

						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="transactionId" type="xs:string"/>
							<xs:element minOccurs="0" name="cycleStrtDdt" type="xs:date"/>
							<xs:element minOccurs="0" name="nxtCycleStrtDt" type="xs:date"/>
							<xs:element minOccurs="0" name="reinvoiceFailureInd" type="xs:string"/>
							<xs:element minOccurs="0" name="ban" type="xs:integer"/>
							<xs:element minOccurs="0" name="banCrm" type="xs:string"/>
							<xs:element minOccurs="0" name="ben" type="xs:integer"/>
							<xs:element minOccurs="0" name="subscriberNo" type="xs:string"/>
							<xs:element minOccurs="0" name="billCycle" type="xs:integer"/>
							<xs:element minOccurs="0" name="creditCardAuthCode" type="xs:string"/>
							<xs:element minOccurs="0" name="extOrderNo" type="xs:string"/>
							<xs:element minOccurs="0" name="billingActualDt" type="xs:date"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="billingMessages">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="billingApi" type="xs:string"/>
										<xs:element minOccurs="0" name="status" type="xs:string"/>
										<xs:element minOccurs="0" name="msgCode" type="xs:integer"/>
										<xs:element minOccurs="0" name="msgDesc" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
