projlibProjAfterDeploy/BZQServices/AreaFailure01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:AreaFailure01="http://www.bezeq.co.il/XMLSchema/AreaFailure01" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/AreaFailure01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="appId" type="xs:string"/>
							<xs:element name="userId" type="xs:string"/>
							<xs:element minOccurs="0" name="password" type="xs:string"/>
							<xs:element minOccurs="0" name="phone" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="appId" type="xs:string"/>
							<xs:element name="userId" type="xs:string"/>
							<xs:element minOccurs="0" name="password" type="xs:string"/>
							<xs:element minOccurs="0" name="phone" type="xs:string"/>
							<xs:element minOccurs="0" name="areaFailureCode" type="xs:string"/>
							<xs:element minOccurs="0" name="recordCode" type="xs:string"/>
							<xs:element minOccurs="0" name="isDisconnectedOnDebt" type="xs:string"/>
							<xs:element name="messageNumber" type="xs:int"/>
							<xs:element minOccurs="0" name="messageDescription" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
