projlibProjAfterDeploy/BZQServices/BcamFailure01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BcamFailure01="http://www.bezeq.co.il/XMLSchema/BcamFailure01" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/BcamFailure01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="customerId" type="string"/>
							<element name="branchId" type="string"/>
							<element name="cameraId" type="string"/>
							<element minOccurs="0" name="eventId" type="string"/>
							<element minOccurs="0" name="eventTypeId" type="string"/>
							<element minOccurs="0" name="cameraDescription" type="string"/>
							<element minOccurs="0" name="branchDescription" type="string"/>
							<element minOccurs="1" name="ActionDate" type="dateTime"/>
							<element minOccurs="0" name="userId" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
