projlibProjAfterDeploy/BZQServices/BiznetRetrieve01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BiznetRetrieve01="http://www.bezeq.co.il/XMLSchema/BiznetRetrieve01" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/BiznetRetrieve01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="interfaceId" type="string"/>
							<element name="transactionId" type="string"/>
							<element minOccurs="0" name="stSessionId" type="string"/>
							<element name="phoneNumber" type="string"/>
							<element name="accountId" type="string"/>
							<element name="realUserId" type="string"/>
							<element minOccurs="0" name="realUserName" type="string"/>
							<element name="actionCode" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="interfaceId" type="string"/>
							<element name="transactionId" type="string"/>
							<element name="stSessionId" type="string"/>
							<element name="phoneNumber" type="string"/>
							<element name="accountId" type="string"/>
							<element name="responsePartsCount" type="string"/>
							<element name="statusCode" type="string"/>
							<element name="statusDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
