projlibProjAfterDeploy/BZQServices/BusinessConvertiopn01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BusinessConvertiopn01="http://www.bezeq.co.il/XMLSchema/BusinessConvertiopn01" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/BusinessConvertiopn01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="requestCode" type="string"/>
							<element name="lineId" type="string"/>
							<element name="logLineId" type="string"/>
							<element name="orderNumber" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element maxOccurs="unbounded" minOccurs="0" name="param">
								<complexType>
									<sequence>
										<element minOccurs="0" name="name" type="string"/>
										<element minOccurs="0" name="value" type="string"/>
									</sequence>
								</complexType>
							</element>
							<element name="status" type="string"/>
							<element minOccurs="0" name="msgCode" type="string"/>
							<element minOccurs="0" name="msgDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
