projlibProjAfterDeploy/BZQServices/Cable02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Cable02="http://www.bezeq.co.il/XMLSchema/Cable02" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Cable02">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="1" name="providerId" type="xs:string"/>
							<xs:element minOccurs="1" name="taskId" type="xs:string"/>
							<xs:element minOccurs="0" name="subscriberNum" type="xs:string"/>
							<xs:element minOccurs="1" name="cableSize" type="xs:string"/>
							<xs:element minOccurs="1" name="orderFinishDate" type="xs:string"/>
							<xs:element minOccurs="1 " name="valueCounter" type="xs:integer"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="transitionInfrastructure">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="1" name="infrastructureId" type="xs:string"/>
										<xs:element minOccurs="1" name="infrastructureType" type="xs:string"/>
										<xs:element minOccurs="0" name="connector" type="xs:string"/>		
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
