projlibProjAfterDeploy/BZQServices/CheckRouterUpdate01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:CheckRouterUpdate01="http://www.bezeq.co.il/XMLSchema/CheckRouterUpdate01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/CheckRouterUpdate01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="serialNumber" type="string"/>
							<element minOccurs="0" name="orderNumber" type="string"/>
							<element minOccurs="0" name="actionNumber" type="string"/>
							<element minOccurs="0" name="startDate" type="date"/>
							<element minOccurs="0" name="startTime" type="string"/>
							<element minOccurs="0" name="endDate" type="date"/>
							<element minOccurs="0" name="endTime" type="string"/>
							<element minOccurs="0" name="userTestStatus" type="string"/>
							<element minOccurs="0" name="smartestTestStatus" type="string"/>
							<element minOccurs="0" name="addNotification" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="serialNumber" type="string"/>
							<element name="errorCode" type="string"/>
<element maxOccurs="1" minOccurs="0" name="errorMessage" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
