projlibProjAfterDeploy/BZQServices/CheckUser01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:CheckUser01="http://www.bezeq.co.il/XMLSchema/CheckUser01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/CheckUser01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element minOccurs="0" name="phoneNumber" type="string"/>
							<element minOccurs="0" name="customerId" type="string"/>
							<element minOccurs="0" name="userName" type="string"/>
							<element minOccurs="0" name="userPassword" type="string"/>
							<element name="ISPcode" type="string"/>
							<element name="actionCode" type="string"/>
							<element minOccurs="0" name="email" type="string"/>
							<element minOccurs="0" name="mobilePhone" type="string"/>
							<element name="requestId" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element minOccurs="0" name="phoneNumber" type="string"/>
							<element minOccurs="0" name="customerId" type="string"/>
							<element minOccurs="0" name="userName" type="string"/>
							<element name="requestId" type="string"/>
							<element minOccurs="0" name="ISPcode" type="string"/>
							<element name="statusCode" type="string"/>
							<element name="errorCode" type="integer"/>
							<element minOccurs="0" name="errorType" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
