projlibProjAfterDeploy/BZQServices/CompleteCable01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:CompleteCable01="http://www.bezeq.co.il/XMLSchema/CompleteCable01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/CompleteCable01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="kodPeula" type="xs:integer"/>
							<xs:element minOccurs="0" name="teudatZehut" type="xs:string"/>
							<xs:element minOccurs="0" name="cableMain" type="xs:integer"/>
							<xs:element minOccurs="0" name="cableOblic" type="xs:integer"/>
							<xs:element minOccurs="0" name="kamutSivim" type="xs:integer"/>
							<xs:element minOccurs="0" name="oviCable" type="xs:integer"/>
							<xs:element minOccurs="0" name="hativa" type="xs:integer"/>
							<xs:element minOccurs="0" name="mitkanMotza" type="xs:integer"/>
							<xs:element minOccurs="0" name="mitkanYaad" type="xs:integer"/>
							<xs:element minOccurs="0" name="sugCable" type="xs:integer"/>
							<xs:element minOccurs="0" name="shichva" type="xs:string"/>
							<xs:element minOccurs="0" name="orechCable" type="xs:integer"/>
							<xs:element minOccurs="0" name="indMotza" type="xs:integer"/>
							<xs:element minOccurs="0" name="hadakStartMotza" type="xs:integer"/>
							<xs:element minOccurs="0" name="indYaad" type="xs:integer"/>
							<xs:element minOccurs="0" name="hadakStartYaad" type="xs:integer"/>
							<xs:element minOccurs="0" name="transactionNum" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
