projlibProjAfterDeploy/BZQServices/ConnectionStatus02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:ConnectionStatus02="http://www.bezeq.co.il/XMLSchema/ConnectionStatus02" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/ConnectionStatus02">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="moedMeser" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="mezaheBakasha" type="xs:string"/>
							<xs:element minOccurs="0" name="ezorChiyug" type="xs:string"/>
							<xs:element minOccurs="0" name="misTelefon" type="xs:string"/>
							<xs:element minOccurs="0" name="sugSheilta" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="mezaheBakasha" type="xs:string"/>
							<xs:element minOccurs="0" name="ezorChiyug" type="xs:string"/>
							<xs:element minOccurs="0" name="misTelefon" type="xs:string"/>
							<xs:element minOccurs="0" name="status" type="xs:string"/>
							<xs:element minOccurs="0" name="moedBitzua" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="returnCode" type="xs:string"/>
							<xs:element minOccurs="0" name="teurTakala" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
