projlibProjAfterDeploy/BZQServices/Contacts01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Contacts01="http://www.bezeq.co.il/XMLSchema/Contacts01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Contacts01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="customerNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="contactId" type="xs:integer"/>
							<xs:element minOccurs="0" name="identityNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="subscriberNumber" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="customerNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="contactsCount" type="xs:integer"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="contactsDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="contactId" type="xs:integer"/>
										<xs:element minOccurs="0" name="identityNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="name" type="xs:string"/>
										<xs:element minOccurs="0" name="mobileNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="faxNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
										<xs:element minOccurs="0" name="isSignatureAuthorized" type="xs:integer"/>
										<xs:element minOccurs="0" name="isAuthorized" type="xs:integer"/>
										<xs:element minOccurs="0" name="suContactRoleDesc" type="xs:string"/>
										<xs:element minOccurs="0" name="comments" type="xs:string"/>
										<xs:element minOccurs="0" name="isEmailApproved" type="xs:integer"/>
										<xs:element minOccurs="0" name="isVoiceMailApproved" type="xs:integer"/>
										<xs:element minOccurs="0" name="isSMSApproved" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="requestSts" type="xs:integer"/>
							<xs:element name="requestStsRsn" type="xs:integer"/>
							<xs:element minOccurs="0" name="errorDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
