projlibProjAfterDeploy/BZQServices/CSIAutoTest01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:AutoTest="http://www.bezeq.co.il/XMLSchema/AutoTest" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:CSIAutoTest01="http://www.bezeq.co.il/XMLSchema/CSIAutoTest01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/CSIAutoTest01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/AutoTest" schemaLocation="../BZQSchemas/AutoTest.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:element name="autotest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CSIAutoTest01:request"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" ref="AutoTest:AutoTest"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
