projlibProjAfterDeploy/BZQServices/CSIOpenFault01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:CSIOpenFault01="http://www.bezeq.co.il/XMLSchema/CSIOpenFault01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/CSIOpenFault01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:element name="openfault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CSIOpenFault01:request"/>
				<xs:element ref="CSIOpenFault01:reply"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="phone" type="xs:string"/>
							<xs:element minOccurs="0" name="phoneContact" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="inspection">
								<xs:complexType>
									<xs:sequence>
							<xs:element minOccurs="0" name="analyzeCode" type="xs:string"/>
						
									</xs:sequence>
								</xs:complexType>
				</xs:element>

								<xs:element name="type" type="xs:string"/>
								<xs:element name="closeCase" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="complaint">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="complaint">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="complaintNum" type="xs:string"/>
													<xs:element name="complaintStatus" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="messageNbr" type="xs:string"/>
										<xs:element minOccurs="0" name="messageSetNbr" type="xs:int"/>
										<xs:element minOccurs="0" name="messageDescr" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
