projlibProjAfterDeploy/BZQServices/CustomerDetails01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:CustomerDetails01="http://www.bezeq.co.il/XMLSchema/CustomerDetails01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/CustomerDetails01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="phone" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="phone" type="xs:string"/>
							<xs:element minOccurs="0" name="shivronCode" type="xs:string"/>
							<xs:element minOccurs="0" name="recordCode" type="xs:string"/>
							<xs:element minOccurs="0" name="isDisconnectedOnDebt" type="xs:string"/>
							<xs:element minOccurs="0" name="isSoExist" type="xs:string"/>
							<xs:element minOccurs="0" name="soStatus" type="xs:string"/>
							<xs:element minOccurs="0" name="workOrderSource" type="xs:string"/>
							<xs:element minOccurs="0" name="slaEndDate" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="fmSlaEndDate" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="msltAgentCode" type="xs:string"/>
							<xs:element minOccurs="0" name="startDateMission" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="endDateMission" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="phoneType" type="xs:string"/>
							<xs:element minOccurs="0" name="isSetPhone" type="xs:string"/>
							<xs:element minOccurs="0" name="soId" type="xs:string"/>
							<xs:element minOccurs="0" name="soLine" type="xs:string"/>
							<xs:element minOccurs="0" name="isAbleCancel" type="xs:string"/>
							<xs:element minOccurs="0" name="enableIvrSvrnCrmNewComplaintMenu" type="xs:string"/>
							<xs:element minOccurs="0" name="enableOpenRealSvrnFault" type="xs:string"/>
							<xs:element minOccurs="0" name="bzOptional1" type="xs:string"/>
							<xs:element minOccurs="0" name="bzOptional2" type="xs:string"/>
							<xs:element minOccurs="0" name="bzOptional3" type="xs:string"/>
							<xs:element name="messageNumber" type="xs:integer"/>
							<xs:element minOccurs="0" name="messageDescription" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
