projlibProjAfterDeploy/BZQServices/CustomerDebit01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:CustomerDebit01="http://www.bezeq.co.il/XMLSchema/CustomerDebit01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/CustomerDebit01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InterfaceId" type="xs:string"/>
							<xs:element name="transactionId" type="xs:string"/>
							<xs:element name="personalId" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InterfaceId" type="xs:string"/>
							<xs:element name="destApplicationId" type="xs:string"/>
							<xs:element name="transactionId" type="xs:string"/>
							<xs:element name="personalId" type="xs:string"/>
							<xs:element name="status" type="xs:integer"/>
							<xs:element minOccurs="0" name="msgCode" type="xs:integer"/>
							<xs:element minOccurs="0" name="msgDesc" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="custBuff">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="customerId" type="xs:integer"/>
										<xs:element minOccurs="0" name="banStatus" type="xs:string"/>
										<xs:element minOccurs="0" name="creditClass" type="xs:string"/>
										<xs:element minOccurs="0" name="debitAmount" type="xs:float"/>
										<xs:element minOccurs="0" name="collDelingInd" type="xs:string"/>
										<xs:element minOccurs="0" name="colAgncyInd" type="xs:string"/>
										<xs:element minOccurs="0" name="banCrm" type="xs:string"/>
										<xs:element minOccurs="0" name="customerName" type="xs:string"/>
										<xs:element minOccurs="0" name="woInd" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
