projlibProjAfterDeploy/BZQServices/CustomerMailBill01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:CustomerMailBill01="http://www.bezeq.co.il/XMLSchema/CustomerMailBill01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/CustomerMailBill01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="customerId" type="xs:string"/>
							<xs:element name="subscriberId" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="customerId" type="xs:string"/>
							<xs:element minOccurs="0" name="subscriberId" type="xs:string"/>
							<xs:element minOccurs="0" name="payerId" type="xs:string"/>
							<xs:element minOccurs="0" name="registrationInd" type="xs:string"/>
							<xs:element minOccurs="0" name="rejectReason" type="xs:string"/>
							<xs:element minOccurs="0" name="eMail" type="xs:string"/>
							<xs:element name="requestStatus" type="xs:string"/>
							<xs:element minOccurs="0" name="code" type="xs:string"/>
							<xs:element minOccurs="0" name="description" type="xs:string"/>
							<xs:element minOccurs="0" name="messageSetNbr" type="xs:int"/>
							<xs:element name="messageNbr" type="xs:int"/>
							<xs:element minOccurs="0" name="messageDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
