projlibProjAfterDeploy/BZQServices/Details01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Details01="http://www.bezeq.co.il/XMLSchema/Details01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Details01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="phone" type="xs:string"/>
							<xs:element name="accessType" type="xs:integer"/>
							<xs:element name="requestType" type="xs:integer"/>
							<xs:element minOccurs="0" name="nbiPlldbkeyp" type="xs:string"/>
							<xs:element minOccurs="0" name="nbiSethemshechp" type="xs:string"/>
							<xs:element minOccurs="0" name="chkAdslSubInd" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="NLNData">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="nlnMisparMeaged" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnSugMishMeaged" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnMisgeretMeaged" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnTagMeaged" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnMerkazMeaged" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnMisparKiteyKav" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnNituvAruch" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnSachNekudotSaf" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="saafPntA">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nlnTavMerkaz" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavMisgeret" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavTag" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavSugMisg" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavTeurMisg" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnTavMisNituv" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numSaafPntA" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="addrFrameA">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nlnKtvTeurMisg" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnKtvMisgeret" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnKtvShemRechov" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnKtvMisparBait" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnKtvMikum" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnKtvMakom" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnKtvShemIshuv" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnMerchak" type="xs:integer"/>
													<xs:element minOccurs="0" name="nmkKitzurAniva" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numAddrFrameA" type="xs:integer"/>
										<xs:element minOccurs="0" name="SachMenuim" type="xs:string"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="totalLines">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="ezorChiyug" type="xs:string"/>
													<xs:element minOccurs="0" name="manuy" type="xs:integer"/>
													<xs:element minOccurs="0" name="sherutFiller" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="SivugBitchoni" type="xs:integer"/>
										<xs:element minOccurs="0" name="TeurSivugBitchoni" type="xs:string"/>
										<xs:element minOccurs="0" name="SivugBitchoniB" type="xs:integer"/>
										<xs:element minOccurs="0" name="TeurSivugBitB" type="xs:string"/>
										<xs:element minOccurs="0" name="tzmSugPhone" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnHamara" type="xs:string"/>
										<xs:element minOccurs="0" name="tzmMerkaz5xx" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMerkezet5xx" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmKodTziud5xx" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMisgeretDslam5xx" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMisgeretShelf5xx" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMisgeretSlot5xx" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmTag5xx" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmSugTag5xx" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmTziud940Len" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMisgeret940Len" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmTag940Len" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmTziud940Natich" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMisgeret940Natich" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmTag940Natich" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="msag">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tzmMerkazMsag" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmMerkezetMsag" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmKodTziudMsag" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmUnitMsag" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmCageMsag" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmSlotMsag" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmTagMsag" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmSugTagMsag" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numMsag" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="specEquip">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tzmKodTziudMeiuchad" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmMisgeretMeiuchad" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmTagMeiuchad" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmShemMeiuchad" type="xs:string"/>
													<xs:element minOccurs="0" name="tzmStatusMeiuchad" type="xs:string"/>
													<xs:element minOccurs="0" name="tzmMerkezetMeiuchad" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmMerkazMeiuchad" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numSpecEquip" type="xs:string"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="specEquipA">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tzmKTziudMeiuchadA" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmMisgeretMeiuchadA" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmTagMeiuchadA" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmShemMeiuchadA" type="xs:string"/>
													<xs:element minOccurs="0" name="tzmStatusMeiuchadA" type="xs:string"/>
													<xs:element minOccurs="0" name="tzmMerkezetMeiuchadA" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmMerkazMeiuchadA" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmCardTypeA" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmCardDescA" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numSpecEquipA" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMerkazLen" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMerkezetLen" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmMisgeretLen" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmTagLen" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmSugTagLen" type="xs:integer"/>
										<xs:element minOccurs="0" name="nbiKtovetIpDslam" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiKtovetIpRu" type="xs:string"/>
										<xs:element minOccurs="0" name="tzmVp" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmVc" type="xs:integer"/>
										<xs:element minOccurs="0" name="nbiSvlan" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmCvlan" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmSugAdsl" type="xs:string"/>
										<xs:element minOccurs="0" name="tzmSugData" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMisRb" type="xs:integer"/>
										<xs:element minOccurs="0" name="nbiPortRb" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiVpRb" type="xs:integer"/>
										<xs:element minOccurs="0" name="nbiVcRb" type="xs:integer"/>
										<xs:element minOccurs="0" name="nbiSugMishak" type="xs:string"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="mainProp">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nlnTeurSugKav" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnMerkazReshet" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnSugKav" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmUpstream" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmDownstream" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnNtvRavMenuim" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnTaarichIdkun" type="xs:date"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numMainProp" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="specEquipB">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tzmKTziudMeiuchadB" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmMisgeretMeiuchadB" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmTagMeiuchadB" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmShemMeiuchadB" type="xs:string"/>
													<xs:element minOccurs="0" name="tzmStatusMeiuchadB" type="xs:string"/>
													<xs:element minOccurs="0" name="tzmMerkezetMeiuchadB" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmMerkazMeiuchadB" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmCardTypeB" type="xs:integer"/>
													<xs:element minOccurs="0" name="tzmCardDescB" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numSpecEquipB" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="saafPntB">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nlnTavMerkazB" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavMisgeretB" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavTagB" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavSugMisgB" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavTeurMisgB" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnTavMisNituvB" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numSaafPntB" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="saafPntMA">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nlnTavMerkazM" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavMisgeretM" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavTagM" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavSugMisgM" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnTavTeurMisgM" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numSaafPntMA" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="addrFrameB">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nlnKtvTeurMisgB" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnKtvMisgeretB" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnKtvShemRechovB" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnKtvMisparBaitB" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnKtvMikumB" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnKtvMakomB" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnKtvShemIshuvB" type="xs:string"/>
													<xs:element minOccurs="0" name="nlnMerchakB" type="xs:integer"/>
													<xs:element minOccurs="0" name="nmkKitzurAnivaB" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="numAddrFrameB" type="xs:integer"/>
										<xs:element minOccurs="0" name="tzmDownstreamM" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnNituvAruchM" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnTavStatusKesher" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnStatusNituv" type="xs:string"/>
										<xs:element minOccurs="0" name="ezorChiyugA" type="xs:integer"/>
										<xs:element minOccurs="0" name="manuyA" type="xs:integer"/>
										<xs:element minOccurs="0" name="sherutFillerA" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnSugKavA" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnTeurSugKavA" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnMisparShutaf" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnNituvAruchB" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnTavStatusKesherB" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnStatusNituvB" type="xs:string"/>
										<xs:element minOccurs="0" name="ezorChiyugB" type="xs:integer"/>
										<xs:element minOccurs="0" name="manuyB" type="xs:integer"/>
										<xs:element minOccurs="0" name="sherutFillerB" type="xs:string"/>
										<xs:element minOccurs="0" name="nlnSugKavB" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnTeurSugKavB" type="xs:string"/>
										<xs:element minOccurs="0" name="tzmMerchak" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="nituvAruch">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nbiKtovetIp" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiHadakM" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiKodShivuki" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiHadakY" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMisParit" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiAluma" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="nzData">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nlnNzEastMitkanA" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnNzNorthtMitkanA" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnNzEastMitkanB" type="xs:integer"/>
													<xs:element minOccurs="0" name="nlnNzNorthtMitkanB" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="dpuMsagDetails">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="dpuMsagIp" type="xs:string"/>
													<xs:element minOccurs="0" name="dpuMsagEquipCode" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuMsagShelf" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuMsagSlot" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuMsagPort" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuMsagPortType" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuMsagPortDesc" type="xs:string"/>
													<xs:element minOccurs="0" name="dpuMsagCity" type="xs:string"/>
													<xs:element minOccurs="0" name="dpuMsagStreet" type="xs:string"/>
													<xs:element minOccurs="0" name="dpuMsagStreetNum" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuMsagCenter" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuMsagFrame" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuMsagSvlan" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="dpuDetails">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="dpuCenter" type="xs:integer"/>
													<xs:element minOccurs="0" name="dpuFrame" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="mxDetails">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="mxCenter" type="xs:integer"/>
													<xs:element minOccurs="0" name="mxFrame" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="services">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="serviceType" type="xs:string"/>
													<xs:element minOccurs="0" name="providerCode" type="xs:string"/>
													<xs:element minOccurs="0" name="vpService" type="xs:string"/>
													<xs:element minOccurs="0" name="subscriberVlan" type="xs:string"/>
													<xs:element minOccurs="0" name="networkSvlan" type="xs:string"/>
													<xs:element minOccurs="0" name="networkCvlan" type="xs:string"/>
													<xs:element minOccurs="0" name="rb_svlan" type="xs:string"/>
													<xs:element minOccurs="0" name="rb_num" type="xs:string"/>
													<xs:element minOccurs="0" name="rb_port" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="nbiMisrbIp" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiPortrbIp" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiVprbIp" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiVcrbIp" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiSvlanIp" type="xs:string"/>
										<xs:element minOccurs="0" name="tzmCvlanIp" type="xs:string"/>
										<xs:element minOccurs="0" name="numNituv" type="xs:integer"/>
										<xs:element minOccurs="0" name="endCenter" type="xs:string"/>
										<xs:element minOccurs="0" name="endFrame" type="xs:string"/>
										<xs:element minOccurs="0" name="endPortNum" type="xs:string"/>
										<xs:element minOccurs="0" name="fdhFrame" type="xs:string"/>
										<xs:element minOccurs="0" name="fdhPortNum" type="xs:string"/>
										<xs:element minOccurs="0" name="lastEndPortLightPower" type="xs:string"/>
										<xs:element minOccurs="0" name="lastEndTestDate" type="xs:string"/>
										<xs:element minOccurs="0" name="admissionLightPower" type="xs:string"/>
										<xs:element minOccurs="0" name="admissionDate" type="xs:string"/>
										<xs:element minOccurs="0" name="olt_ip" type="xs:string"/>
										<xs:element minOccurs="0" name="olt_shelf" type="xs:string"/>
										<xs:element minOccurs="0" name="olt_slot" type="xs:string"/>
										<xs:element minOccurs="0" name="olt_port" type="xs:string"/>
										<xs:element minOccurs="0" name="olt_card_type" type="xs:string"/>
										<xs:element minOccurs="0" name="olt_onu_id" type="xs:string"/>
										<xs:element minOccurs="0" name="olt_onu_sfp_sn" type="xs:string"/>
										<xs:element minOccurs="0" name="olt_onu_sfp_vendor_id" type="xs:string"/>
										<xs:element minOccurs="0" name="routeType" type="xs:string"/>
										<xs:element minOccurs="0" name="routeTypeDesc" type="xs:string"/>
										<xs:element minOccurs="0" name="endCity" type="xs:string"/>
										<xs:element minOccurs="0" name="endStreet" type="xs:string"/>
										<xs:element minOccurs="0" name="endHouseNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="endHouseIndication" type="xs:string"/>
										<xs:element minOccurs="0" name="endPlaceDesc" type="xs:string"/>
										<xs:element minOccurs="0" name="endLocationDesc" type="xs:string"/>
										<xs:element name="nlnKodHechzer" type="xs:integer"/>
										<xs:element minOccurs="0" name="nlnTeurKodHechzer" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="NBI-1Data">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="nekudotSaf" type="xs:integer"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="nituv">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="mitkan" type="xs:string"/>
													<xs:element minOccurs="0" name="misParit" type="xs:string"/>
													<xs:element minOccurs="0" name="sugTziud" type="xs:string"/>
													<xs:element minOccurs="0" name="hadak" type="xs:string"/>
													<xs:element minOccurs="0" name="ip" type="xs:string"/>
													<xs:element minOccurs="0" name="aluma" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="timsoret" type="xs:string"/>
										<xs:element minOccurs="0" name="sugKav" type="xs:string"/>
										<xs:element minOccurs="0" name="teurSugKav" type="xs:string"/>
										<xs:element name="NBI1messageNbr" type="xs:string"/>
										<xs:element minOccurs="0" name="NBI1messageDescr" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="NBI-2Data">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="groupName" type="xs:string"/>
										<xs:element minOccurs="0" name="ipA" type="xs:string"/>
										<xs:element minOccurs="0" name="lanIp" type="xs:string"/>
										<xs:element minOccurs="0" name="vlan" type="xs:string"/>
										<xs:element minOccurs="0" name="mngIp" type="xs:string"/>
										<xs:element minOccurs="0" name="ipB" type="xs:string"/>
										<xs:element minOccurs="0" name="lanSubnet" type="xs:string"/>
										<xs:element minOccurs="0" name="vlanA" type="xs:string"/>
										<xs:element minOccurs="0" name="routBridge" type="xs:string"/>
										<xs:element minOccurs="0" name="pingIp" type="xs:string"/>
										<xs:element minOccurs="0" name="destinationIp" type="xs:string"/>
										<xs:element minOccurs="0" name="vlanB" type="xs:string"/>
										<xs:element minOccurs="0" name="swMngIp" type="xs:string"/>
										<xs:element minOccurs="0" name="subnetMask" type="xs:string"/>
										<xs:element minOccurs="0" name="destinationPrt" type="xs:string"/>
										<xs:element minOccurs="0" name="mitkan" type="xs:string"/>
										<xs:element minOccurs="0" name="misParit" type="xs:string"/>
										<xs:element minOccurs="0" name="sugTziud" type="xs:string"/>
										<xs:element minOccurs="0" name="hadak" type="xs:string"/>
										<xs:element minOccurs="0" name="ip" type="xs:string"/>
										<xs:element minOccurs="0" name="mitkanMotzaA" type="xs:string"/>
										<xs:element minOccurs="0" name="mitkanYaadA" type="xs:string"/>
										<xs:element minOccurs="0" name="mitkanMotzaB" type="xs:string"/>
										<xs:element minOccurs="0" name="mitkanYaadB" type="xs:string"/>
										<xs:element minOccurs="0" name="sugHazmanaKav" type="xs:string"/>
										<xs:element minOccurs="0" name="matzavKav" type="xs:string"/>
										<xs:element minOccurs="0" name="zman" type="xs:string"/>
										<xs:element minOccurs="0" name="sugNativ" type="xs:string"/>
										<xs:element minOccurs="0" name="tagShinui" type="xs:string"/>
										<xs:element minOccurs="0" name="horafal" type="xs:string"/>
										<xs:element minOccurs="0" name="mitkanKavFiziKatzeA" type="xs:string"/>
										<xs:element minOccurs="0" name="merkazKavFiziKatzeA" type="xs:string"/>
										<xs:element minOccurs="0" name="eastMerkaz" type="xs:integer"/>
										<xs:element minOccurs="0" name="northMerkazA" type="xs:integer"/>
										<xs:element minOccurs="0" name="eastMitkan" type="xs:integer"/>
										<xs:element minOccurs="0" name="northMitkanA" type="xs:integer"/>
										<xs:element minOccurs="0" name="mitkanKavFiziKatzeB" type="xs:string"/>
										<xs:element minOccurs="0" name="merkazKavFiziKatzeB" type="xs:string"/>
										<xs:element minOccurs="0" name="eastMerkazB" type="xs:integer"/>
										<xs:element minOccurs="0" name="northMerkazB" type="xs:integer"/>
										<xs:element minOccurs="0" name="eastMitkanB" type="xs:integer"/>
										<xs:element minOccurs="0" name="northMitkanB" type="xs:integer"/>
										<xs:element minOccurs="0" name="kodTzir" type="xs:integer"/>
										<xs:element minOccurs="0" name="swKavGibuyLe" type="xs:string"/>
										<xs:element minOccurs="0" name="swKavGibui" type="xs:string"/>
										<xs:element minOccurs="0" name="swHerum" type="xs:string"/>
										<xs:element minOccurs="0" name="kodKavGibuyLe" type="xs:integer"/>
										<xs:element minOccurs="0" name="kodKavGibui" type="xs:integer"/>
										<xs:element minOccurs="0" name="meafyenKav1" type="xs:string"/>
										<xs:element minOccurs="0" name="meafyenKav2" type="xs:string"/>
										<xs:element minOccurs="0" name="meafyenKav3" type="xs:string"/>
										<xs:element minOccurs="0" name="meafyenKav4" type="xs:string"/>
										<xs:element minOccurs="0" name="meafyenKav5" type="xs:string"/>
										<xs:element minOccurs="0" name="meafyenKav6" type="xs:string"/>
										<xs:element minOccurs="0" name="meafyenKav7" type="xs:string"/>
										<xs:element minOccurs="0" name="meafyenKav8" type="xs:string"/>
										<xs:element minOccurs="0" name="meafyenKav9" type="xs:string"/>
										<xs:element minOccurs="0" name="misparTziudA" type="xs:string"/>
										<xs:element minOccurs="0" name="shemManuyKatzeA" type="xs:string"/>
										<xs:element minOccurs="0" name="irKatzeA" type="xs:string"/>
										<xs:element minOccurs="0" name="rechoveKatzeA" type="xs:string"/>
										<xs:element minOccurs="0" name="tlfKatzeA" type="xs:string"/>
										<xs:element minOccurs="0" name="misparTziudB" type="xs:string"/>
										<xs:element minOccurs="0" name="shemManuyKatzeB" type="xs:string"/>
										<xs:element minOccurs="0" name="irKatzeB" type="xs:string"/>
										<xs:element minOccurs="0" name="rechovKatzeB" type="xs:string"/>
										<xs:element minOccurs="0" name="tlfKatzeB" type="xs:string"/>
										<xs:element name="NBI2messageNbr" type="xs:string"/>
										<xs:element minOccurs="0" name="NBI2messageDescr" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="NBI-3Data">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="nbiIpParitMotzaa" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMitkanParitMotzaa" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiSugTziudMotzaa" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMisRatzMotzaa" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMisPortMotzaa" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiIpParitYaada" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMitkanParitYaada" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiSugTziudYaada" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMisRatzYaada" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMisPortYaada" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiIpa" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMitkanParita" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiSugTziuda" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMisRatza" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiPorta" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiIpb" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMitkanParitb" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiSugTziudb" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMisRatzb" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiPortb" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMehirutFiziup" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiKodMehirutFiziup" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiMehirutFiziDown" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiKodMehirutFiziDown" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiSugTziudKatze1" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiSugTziudKatze2" type="xs:string"/>
										<xs:element minOccurs="0" name="ring" type="xs:string"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="linesSrv">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="nbiKodKvutzaShivukit1" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiShemGrp1" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiKodKvutzaShivukit2" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiShemGrp2" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiPingIp" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiKodKavPvc" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiSugSherut" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiKodIntegratzia" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMehirutLogiUp" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiKodMehirutLogiUp" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMehirutLogiDown" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiKodMehirutLogiDown" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiSvlana" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiCvlana" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiSvlanb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiCvlanb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiSvlanCpe" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiCvlanCpe" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiRoutBridge" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiSubnetMask" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiIpKava" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiIpKavb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMngIp" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiDestinationIp" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiDestinationPort" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiSwmngIp" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiLanIp" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiLanSubnetMask" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiKodKavb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiIpParitMotzab" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMitkanParitMotzab" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiSugTziudMotzab" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMisRatzMotzab" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMisPortMotzab" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiIpParitYaadb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMitkanParitYaadb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiSugTziudYaadb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMisRatzYaadb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbiMisPortYaadb" type="xs:string"/>
													<xs:element minOccurs="0" name="nbisugqos" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="nbiPlldbkeyp" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiSethemshechp" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiKodHechzer" type="xs:string"/>
										<xs:element minOccurs="0" name="nbiTeurKodHechzer" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="TLLData">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="meracezetNumber" type="xs:integer"/>
										<xs:element minOccurs="0" name="meracezetType" type="xs:integer"/>
										<xs:element minOccurs="0" name="lrn" type="xs:string"/>
										<xs:element minOccurs="0" name="menuyad" type="xs:string"/>
										<xs:element name="TLLmessageNbr" type="xs:string"/>
										<xs:element minOccurs="0" name="TLLmessageDescr" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="CSMData">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="subAdditionalCityCd" type="xs:string"/>
										<xs:element minOccurs="0" name="subAdditionalStreetCd" type="xs:string"/>
										<xs:element minOccurs="0" name="customerGrade" type="xs:string"/>
										<xs:element minOccurs="0" name="EquipQty" type="xs:integer"/>
										<xs:element maxOccurs="150" minOccurs="0" name="EquipArr">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="EquipCd" type="xs:integer"/>
													<xs:element minOccurs="0" name="EquipCdQty" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="10" minOccurs="0" name="AnswersArr">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="FtrCd" type="xs:string"/>
													<xs:element minOccurs="0" name="FtrDesc" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="50" minOccurs="0" name="PricePlanArr">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="PricePlan" type="xs:string"/>
													<xs:element minOccurs="0" name="ServiceType" type="xs:string"/>
													<xs:element minOccurs="0" name="EffectiveDate" type="xs:date"/>
													<xs:element minOccurs="0" name="ExpirationDate" type="xs:date"/>
													<xs:element minOccurs="0" name="SocDescription" type="xs:string"/>
													<xs:element minOccurs="0" name="WSCode" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="featureParamArr">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="pricePlan" type="xs:string"/>
													<xs:element minOccurs="0" name="featureCode" type="xs:string"/>
													<xs:element minOccurs="0" name="ftrParamCode" type="xs:string"/>
													<xs:element minOccurs="0" name="ftrPrmEffDate" type="xs:date"/>
													<xs:element minOccurs="0" name="ftrPrmExpDate" type="xs:date"/>
													<xs:element minOccurs="0" name="ftrPrmOrigEffDate" type="xs:date"/>
													<xs:element minOccurs="0" name="ftrPrmOrigExpDate" type="xs:date"/>
													<xs:element minOccurs="0" name="valueFrom" type="xs:string"/>
													<xs:element minOccurs="0" name="valueTo" type="xs:string"/>
													<xs:element minOccurs="0" name="prmValueCd" type="xs:string"/>
													<xs:element minOccurs="0" name="parameterDesc" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="SusResCandSts" type="xs:string"/>
										<xs:element minOccurs="0" name="BanStatus" type="xs:string"/>
										<xs:element minOccurs="0" name="WSInd" type="xs:string"/>
										<xs:element minOccurs="0" name="SubSmsInd" type="xs:string"/>
										<xs:element minOccurs="0" name="natavSaleInd" type="xs:string"/>
										<xs:element minOccurs="0" name="guaranteeInd" type="xs:string"/>
										<xs:element minOccurs="0" name="CusLastBusinessName" type="xs:string"/>
										<xs:element minOccurs="0" name="CusFirstName" type="xs:string"/>
										<xs:element minOccurs="0" name="SubLastBusinessName" type="xs:string"/>
										<xs:element minOccurs="0" name="SubFirstName" type="xs:string"/>
										<xs:element minOccurs="0" name="CustPersonalId" type="xs:string"/>
										<xs:element minOccurs="0" name="CustPersonalId2nd" type="xs:string"/>
										<xs:element minOccurs="0" name="PersonalId" type="xs:string"/>
										<xs:element minOccurs="0" name="CusAdrCity" type="xs:string"/>
										<xs:element minOccurs="0" name="CusAdrStreetName" type="xs:string"/>
										<xs:element minOccurs="0" name="CusAdrHouseNo" type="xs:integer"/>
										<xs:element minOccurs="0" name="SubAdrCity" type="xs:string"/>
										<xs:element minOccurs="0" name="SubAdrStreetName" type="xs:string"/>
										<xs:element minOccurs="0" name="SubAdrHouseNo" type="xs:integer"/>
										<xs:element minOccurs="0" name="SubAdrAptEntrance" type="xs:string"/>
										<xs:element minOccurs="0" name="SubAdrAptFloor" type="xs:int"/>
										<xs:element minOccurs="0" name="SubApartmentNumber" type="xs:int"/>
										<xs:element minOccurs="0" name="Heker" type="xs:integer"/>
										<xs:element minOccurs="0" name="customerId" type="xs:integer"/>
										<xs:element name="CSMmessageNbr" type="xs:string"/>
										<xs:element minOccurs="0" name="subStatus" type="xs:string"/>
										<xs:element minOccurs="0" name="CSMmessageDescr" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="NPGData">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="routeDate" type="xs:dateTime"/>
										<xs:element minOccurs="0" name="lrn" type="xs:string"/>
										<xs:element name="NPGmessageNbr" type="xs:string"/>
										<xs:element minOccurs="0" name="NPGmessageDescr" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
