projlibProjAfterDeploy/BZQServices/EquipmentDetails02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:EquipmentDetails02="http://www.bezeq.co.il/XMLSchema/EquipmentDetails02" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/EquipmentDetails02">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="lineCode" type="xs:string"/>
							<xs:element minOccurs="0" name="lineInstance" type="xs:integer"/>
							<xs:element minOccurs="0" name="logicalLineCode" type="xs:string"/>
							<xs:element minOccurs="0" name="logicalLineInstance" type="xs:integer"/>
							<xs:element minOccurs="0" name="groupId" type="xs:string"/>
							<xs:element minOccurs="0" name="groupInstance" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="cpeEquipments">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="equipmentId" type="xs:integer"/>
										<xs:element minOccurs="0" name="engineeringEquipmentType" type="xs:integer"/>
										<xs:element minOccurs="0" name="facilityCode" type="xs:integer"/>
										<xs:element minOccurs="0" name="equipmentType" type="xs:integer"/>
										<xs:element minOccurs="0" name="equipmentIdManrav" type="xs:string"/>
										<xs:element minOccurs="0" name="quantity" type="xs:integer"/>
										<xs:element minOccurs="0" name="ipAddress" type="xs:string"/>
										<xs:element minOccurs="0" name="managementMode" type="xs:string"/>
										<xs:element minOccurs="0" name="version" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="returnCode" type="xs:integer"/>
							<xs:element minOccurs="0" name="errorDescription" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
