projlibProjAfterDeploy/BZQServices/EstablishRoute01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:EstablishRoute01="http://www.bezeq.co.il/XMLSchema/EstablishRoute01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/EstablishRoute01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="providerId" type="xs:string"/>
							<xs:element name="interfaceId" type="xs:string"/>
							<xs:element name="providerRequestId" type="xs:string"/>
							<xs:element name="providerMessageSendTime" type="xs:dateTime"/>
							<xs:element name="activityCode" type="xs:string"/>
							<xs:element minOccurs="0" name="neighborhoodNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="neighborhoodDesc" type="xs:string"/>
							<xs:element minOccurs="0" name="lineCode" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureTypeA" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureIdA" type="xs:string"/>
							<xs:element minOccurs="0" name="locationCodeA" type="xs:string"/>
							<xs:element minOccurs="0" name="streetCodeA" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureAdressA" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureTypeB " type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureIdB " type="xs:string"/>
							<xs:element minOccurs="0" name="locationCodeB" type="xs:string"/>
							<xs:element minOccurs="0" name="streetCodeB" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureAdressB" type="xs:string"/>
							<xs:element minOccurs="0" name="plannedLength" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="transitionInfrastructure">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="infrastructureTypeTransition" type="xs:string"/>
										<xs:element minOccurs="0" name="infrastructureIdTransition" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="providerComments" type="xs:string"/>
							<xs:element minOccurs="0" name="techMessageCode" type="xs:string"/>
							<xs:element minOccurs="0" name="techMessageDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="providerId" type="xs:string"/>
							<xs:element name="interfaceId" type="xs:string"/>
							<xs:element name="providerRequestId" type="xs:string"/>
							<xs:element minOccurs="0" name="providerMessageSendTime" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="messageSendTimeReturn" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="activityCode" type="xs:string"/>
							<xs:element minOccurs="0" name="lineCode" type="xs:string"/>
							<xs:element minOccurs="0" name="neighborhoodNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureTypeA" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureIdA" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureTypeB" type="xs:string"/>
							<xs:element minOccurs="0" name="infrastructureIdB" type="xs:string"/>
							<xs:element minOccurs="0" name="requestOpenDate" type="xs:string"/>
							<xs:element minOccurs="0" name="messageCode" type="xs:string"/>
							<xs:element minOccurs="0" name="messageDesc" type="xs:string"/>
							<xs:element minOccurs="0" name="techMessageCode" type="xs:string"/>
							<xs:element minOccurs="0" name="techMessageDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
