projlibProjAfterDeploy/BZQServices/FacilitiesBySite01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:FacilitiesBySite01="http://www.bezeq.co.il/XMLSchema/FacilitiesBySite01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/FacilitiesBySite01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="siteCode" type="xs:string"/>
							<xs:element minOccurs="0" name="cityCode" type="xs:string"/>
							<xs:element minOccurs="0" name="StreetCode" type="xs:string"/>
							<xs:element minOccurs="0" name="bldgNum" type="xs:string"/>
							<xs:element minOccurs="0" name="bldgLetter" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="returnCode" type="xs:string"/>
							<xs:element name="returnText" type="xs:string"/>
							<xs:element name="misMitkanim" type="xs:string"/>
							<xs:element maxOccurs="250" minOccurs="0" name="misMitkanimRec">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="kodMitkan" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
