projlibProjAfterDeploy/BZQServices/FacilityDetails01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:FacilityDetails01="http://www.bezeq.co.il/XMLSchema/FacilityDetails01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/FacilityDetails01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="kodMitkan" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="kodPeula" type="xs:integer"/>
							<xs:element minOccurs="0" name="teudatZehut" type="xs:string"/>
							<xs:element minOccurs="0" name="kodYasham" type="xs:integer"/>
							<xs:element minOccurs="0" name="kodAtar" type="xs:integer"/>
							<xs:element minOccurs="0" name="shemAtar" type="xs:string"/>
							<xs:element minOccurs="0" name="semelYeshuv" type="xs:integer"/>
							<xs:element minOccurs="0" name="semelRechov" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparBait" type="xs:integer"/>
							<xs:element minOccurs="0" name="otBait" type="xs:string"/>
							<xs:element minOccurs="0" name="hearatKtovet" type="xs:string"/>
							<xs:element minOccurs="0" name="kodBaalutAtar" type="xs:integer"/>
							<xs:element minOccurs="0" name="matzavBakara" type="xs:integer"/>
							<xs:element minOccurs="0" name="kodMitkan" type="xs:integer"/>
							<xs:element minOccurs="0" name="sugMitkan" type="xs:integer"/>
							<xs:element minOccurs="0" name="shemMitkan" type="xs:string"/>
							<xs:element minOccurs="0" name="shemMitkanKatzar" type="xs:string"/>
							<xs:element minOccurs="0" name="shemMitkanLoazi" type="xs:string"/>
							<xs:element minOccurs="0" name="ifunMitkan" type="xs:integer"/>
							<xs:element minOccurs="0" name="statusMitkan" type="xs:integer"/>
							<xs:element minOccurs="0" name="kodBaalutMitkan" type="xs:integer"/>
							<xs:element minOccurs="0" name="yechidaIrgunit" type="xs:integer"/>
							<xs:element minOccurs="0" name="sugTachana" type="xs:integer"/>
							<xs:element minOccurs="0" name="tarHakama" type="xs:date"/>
							<xs:element minOccurs="0" name="tarIdkun" type="xs:date"/>
							<xs:element minOccurs="0" name="swAtar" type="xs:string"/>
							<xs:element minOccurs="0" name="swMitkan" type="xs:string"/>
							<xs:element minOccurs="0" name="swBchiratMispar" type="xs:string"/>
							<xs:element minOccurs="0" name="swMitkanNosafBeAtar" type="xs:string"/>
							<xs:element minOccurs="0" name="transactionNum" type="xs:integer"/>
							<xs:element minOccurs="0" name="code" type="xs:integer"/>
							<xs:element minOccurs="0" name="description" type="xs:string"/>
							<xs:element minOccurs="0" name="iyush" type="xs:string"/>
							<xs:element minOccurs="0" name="shayachLeTachana" type="xs:integer"/>
							<xs:element minOccurs="0" name="shayachLeMdf" type="xs:integer"/>
							<xs:element minOccurs="0" name="shayachLeMeyatzeg" type="xs:integer"/>
							<xs:element minOccurs="0" name="telefon" type="xs:string"/>
							<xs:element minOccurs="0" name="telefonCherum1" type="xs:string"/>
							<xs:element minOccurs="0" name="telefonCherum2" type="xs:string"/>
							<xs:element minOccurs="0" name="fax" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
