projlibProjAfterDeploy/BZQServices/FrameLocation01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:FrameLocation01="http://www.bezeq.co.il/XMLSchema/FrameLocation01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/FrameLocation01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="requestId" type="xs:string"/>
							<xs:element name="searchBy" type="xs:string"/>
							<xs:element name="requestedFrameType" type="xs:string"/>
							<xs:element minOccurs="0" name="merkaz" type="xs:integer"/>
							<xs:element minOccurs="0" name="misgeret" type="xs:integer"/>
							<xs:element minOccurs="0" name="coordEast" type="xs:double"/>
							<xs:element minOccurs="0" name="coordNorth" type="xs:double"/>
							<xs:element name="radius" type="xs:double"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="requestId" type="xs:string"/>
							<xs:element name="returnCode" type="xs:integer"/>
							<xs:element minOccurs="0" name="returnDescription" type="xs:string"/>
							<xs:element name="framesCount" type="xs:integer"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="framesInRange">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="merkaz" type="xs:integer"/>
										<xs:element name="misgeret" type="xs:integer"/>
										<xs:element name="israelX" type="xs:double"/>
										<xs:element name="israelY" type="xs:double"/>
										<xs:element name="latitude" type="xs:double"/>
										<xs:element name="longitude" type="xs:double"/>
										<xs:element name="cityCode" type="xs:integer"/>
										<xs:element minOccurs="0" name="cityName" type="xs:string"/>
										<xs:element name="streetCode" type="xs:integer"/>
										<xs:element minOccurs="0" name="streetName" type="xs:string"/>
										<xs:element name="buildingNumber" type="xs:integer"/>
										<xs:element minOccurs="0" name="buildingLetter" type="xs:string"/>
										<xs:element name="aerialDistance" type="xs:double"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
