projlibProjAfterDeploy/BZQServices/Infra02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Infra02="http://www.bezeq.co.il/XMLSchema/Infra02" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Infra02">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="phoneNumber" type="string"/>
							<element name="customerId" type="string"/>
							<element minOccurs="0" name="ppp4i" type="string"/>
							<element minOccurs="0" name="ip4i" type="string"/>
							<element minOccurs="0" name="pppSlid" type="string"/>
							<element minOccurs="0" name="ipSlid" type="string"/>
							<element minOccurs="0" name="serviceBundle" type="string"/>
							<element minOccurs="0" name="statusHsi" type="string"/>
							<element minOccurs="0" name="statusReason" type="integer"/>
							<element minOccurs="0" name="ngnDislam" type="integer"/>
							<element minOccurs="1" name="requestId" type="string"/>
							<element minOccurs="0" name="optionalField1" type="string"/>
							<element minOccurs="0" name="optionalField2" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
