projlibProjAfterDeploy/BZQServices/InfrastructureFailureStatus01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:InfrastructureFailureStatus01="http://www.bezeq.co.il/XMLSchema/InfrastructureFailureStatus01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/InfrastructureFailureStatus01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="providerId" type="string"/>
							<element name="interfaceId" type="string"/>
							<element minOccurs="0" name="providerRequestId" type="string"/>
							<element minOccurs="0" name="providerMessageSendTime" type="dateTime"/>
			
							<element minOccurs="0" name="faultId" type="string"/>
							<element minOccurs="0" name="lineCode" type="string"/>
							<element minOccurs="0" name="faultStatusCode" type="string"/>
							<element minOccurs="0" name="faultStatusDesc" type="string"/>
							<element minOccurs="0" name="faultReasonCode" type="string"/>
							<element minOccurs="0" name="faultReasonDesc" type="string"/>
							<element minOccurs="0" name="faultFixedCode" type="string"/>
							<element minOccurs="0" name="faultFixedDesc" type="string"/>
							<element minOccurs="0" name="techMessageCode" type="string"/>
							<element minOccurs="0" name="techMessageDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
