projlibProjAfterDeploy/BZQServices/Inventory02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Inventory02="http://www.bezeq.co.il/XMLSchema/Inventory02" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Inventory02">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>

	<xs:element maxOccurs="unbounded" minOccurs="1" name="equipmentArrayStatus">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="missionId" type="xs:string"/>
					
							<xs:element minOccurs="0" name="orderNumber" type="xs:string"/>
					
							<xs:element minOccurs="1" name="source" type="xs:string"/>
					
							<xs:element minOccurs="0" name="deliveryDetailsId" type="xs:string"/>
					
							<xs:element minOccurs="1" name="actionType" type="xs:string"/>
					
							<xs:element minOccurs="1" name="equipmentOwnerId" type="xs:string"/>
					
							<xs:element minOccurs="1" name="catalogNumber" type="xs:string"/>
					
							<xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
					
							<xs:element minOccurs="1" name="updateStatus" type="xs:string"/>
					
							<xs:element minOccurs="0" name="errorReasonCode" type="xs:string"/>
					
						</xs:sequence>
					</xs:complexType>
				</xs:element>




						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
