projlibProjAfterDeploy/BZQServices/InvoiceCopy01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:InvoiceCopy01="http://www.bezeq.co.il/XMLSchema/InvoiceCopy01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/InvoiceCopy01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="InterfaceId" type="xs:string"/>
							<xs:element name="DocType" type="xs:string"/>
							<xs:element name="DeliveryMeans" type="xs:string"/>
							<xs:element name="PageSelection" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="InvoicesNumList">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="InvoicesNum" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="crmCustNum" type="xs:string"/>
							<xs:element minOccurs="0" name="ban" type="xs:string"/>
							<xs:element minOccurs="0" name="ben" type="xs:string"/>
							<xs:element minOccurs="0" name="phoneNum" type="xs:string"/>
							<xs:element minOccurs="0" name="fromPeriod" type="xs:string"/>
							<xs:element minOccurs="0" name="untilPeriod" type="xs:string"/>
							<xs:element minOccurs="0" name="fromDate" type="xs:date"/>
							<xs:element minOccurs="0" name="untilDate" type="xs:date"/>
							<xs:element minOccurs="0" name="faxNum" type="xs:string"/>
							<xs:element minOccurs="0" name="email" type="xs:string"/>
							<xs:element minOccurs="0" name="debtOption" type="xs:string"/>
							<xs:element name="requestTime" type="xs:dateTime"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
							<xs:element maxOccurs="unbounded" name="sendInvoicesNumList">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sendInvoicesNum" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="messageSetNbr" type="xs:integer"/>
							<xs:element name="messageNbr" type="xs:integer"/>
							<xs:element minOccurs="0" name="messageDescr" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
