projlibProjAfterDeploy/BZQServices/InvoiceDesign01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:InvoiceDesign01="http://www.bezeq.co.il/XMLSchema/InvoiceDesign01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/InvoiceDesign01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="runNum" type="xs:integer"/>
							<xs:element name="logicalDate" type="xs:date"/>
							<xs:element name="reqNum" type="xs:integer"/>
							<xs:element name="applicationName" type="xs:string"/>
							<xs:element name="templateNum" type="xs:string"/>
							<xs:element name="fileName" type="xs:string"/>
							<xs:element name="arcPath" type="xs:string"/>
							<xs:element name="emailAddress" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceDataRow">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tableName" type="xs:string"/>
										<xs:element name="tableNum" type="xs:integer"/>
										<xs:element name="rowNum" type="xs:integer"/>
										<xs:element name="colNum" type="xs:integer"/>
										<xs:element name="paramName" type="xs:string"/>
										<xs:element name="paramSeq" type="xs:integer"/>
										<xs:element minOccurs="0" name="paramValue" type="xs:string"/>
										<xs:element minOccurs="0" name="correspondingParamSeq" type="xs:integer"/>
										<xs:element name="populateType" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
