projlibProjAfterDeploy/BZQServices/Ipost01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Ipost01="http://www.bezeq.co.il/XMLSchema/Ipost01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Ipost01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="interfaceId" type="string"/>
							<element name="personalId" type="string"/>
							<element name="ban" type="string"/>
							<element name="ben" type="string"/>
							<element name="ipostNo" type="string"/>
							<element name="reqType" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
