projlibProjAfterDeploy/BZQServices/KRTAlternativeRoute01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:KRTAlternativeRoute01="http://www.bezeq.co.il/XMLSchema/KRTAlternativeRoute01" xmlns:TagList="http://www.bezeq.co.il/XMLSchema/TagList" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/KRTAlternativeRoute01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/TagList" schemaLocation="../BZQSchemas/TagList.xsd"/>
	<xs:element name="alternativeRoute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="KRTAlternativeRoute01:request"/>
				<xs:element ref="KRTAlternativeRoute01:reply"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="areaCode" type="xs:string"/>
							<xs:element minOccurs="0" name="number" type="xs:string"/>
							<xs:element name="center" type="xs:string"/>
							<xs:element name="frame" type="xs:string"/>
							<xs:element name="tag" type="xs:string"/>
							<xs:element name="sugTag" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" ref="TagList:tagList"/>
							<xs:element minOccurs="0" name="isBaz" type="xs:string"/>
							<xs:element name="messageNbr" type="xs:string"/>
							<xs:element minOccurs="0" name="messageDescr" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
