projlibProjAfterDeploy/BZQServices/KRTNetWork01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:KRTNetWork01="http://www.bezeq.co.il/XMLSchema/KRTNetWork01" xmlns:N1Lines="http://www.bezeq.co.il/XMLSchema/N1Lines" xmlns:NetWork="http://www.bezeq.co.il/XMLSchema/NetWork" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/KRTNetWork01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/NetWork" schemaLocation="../BZQSchemas/NetWork.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/N1Lines" schemaLocation="../BZQSchemas/N1Lines.xsd"/>
	<xs:element name="network">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="KRTNetWork01:request"/>
				<xs:element ref="KRTNetWork01:reply"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="phoneNumber" type="xs:string"/>
							<xs:element name="accessType" type="xs:string"/>
							<xs:element minOccurs="0" name="requestType" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" ref="NetWork:NetWork"/>
							<xs:element minOccurs="0" name="lineNumber" type="xs:string"/>
							<xs:element minOccurs="0" ref="N1Lines:n1Lines"/>
							<xs:element name="messageNbr" type="xs:string"/>
							<xs:element minOccurs="0" name="messageDescr" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
