projlibProjAfterDeploy/BZQServices/Linedetails02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Linedetails02="http://www.bezeq.co.il/XMLSchema/Linedetails02" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Linedetails02">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="requestType" type="xs:string"/>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="lineCode" type="xs:string"/>
							<xs:element name="system" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="lineCode" type="xs:string"/>
							<xs:element minOccurs="0" name="groupPrefix" type="xs:string"/>
							<xs:element minOccurs="0" name="groupSuffix" type="xs:string"/>
							<xs:element minOccurs="0" name="bSGroupCode" type="xs:string"/>
							<xs:element minOccurs="0" name="customerId" type="xs:string"/>
							<xs:element minOccurs="0" name="callCapacity" type="xs:integer"/>
							<xs:element minOccurs="0" name="storageDays" type="xs:string"/>
							<xs:element minOccurs="0" name="storageSize" type="xs:double"/>
							<xs:element minOccurs="0" name="adminEmail" type="xs:string"/>
							<xs:element minOccurs="0" name="PackageCounter" type="xs:integer"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="packages">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="package" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="deviceType" type="xs:string"/>
							<xs:element minOccurs="0" name="featureCounter" type="xs:integer"/>
							<xs:element maxOccurs="20" minOccurs="0" name="geatureCode" type="xs:string"/>
							<xs:element name="returnCode" type="xs:integer"/>
							<xs:element minOccurs="0" name="errorDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
