projlibProjAfterDeploy/BZQServices/Mission03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Mission03="http://www.bezeq.co.il/XMLSchema/Mission03" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Mission03">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="technicianId" type="xs:string"/>
							<xs:element name="missionRegion" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="counter" type="xs:integer"/>
							<xs:element maxOccurs="100" minOccurs="0" name="missionDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="soId" type="xs:string"/>
										<xs:element name="soLine" type="xs:integer"/>
										<xs:element minOccurs="0" name="manuiNum" type="xs:string"/>
										<xs:element minOccurs="0" name="custName" type="xs:string"/>
										<xs:element minOccurs="0" name="cmConcat1" type="xs:string"/>
										<xs:element minOccurs="0" name="siteName" type="xs:string"/>
										<xs:element minOccurs="0" name="slaStartDT" type="xs:date"/>
										<xs:element minOccurs="0" name="slaStartTM" type="xs:time"/>
										<xs:element minOccurs="0" name="cstCrdStartDT" type="xs:date"/>
										<xs:element minOccurs="0" name="cstCrdStartTM" type="xs:time"/>
										<xs:element minOccurs="0" name="srvType" type="xs:string"/>
										<xs:element minOccurs="0" name="descr80" type="xs:string"/>
										<xs:element minOccurs="0" name="activityCode" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="messageSetNbr" type="xs:integer"/>
							<xs:element name="messageNbr" type="xs:integer"/>
							<xs:element minOccurs="0" name="messageDescr" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
