projlibProjAfterDeploy/BZQServices/Mission04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Mission04="http://www.bezeq.co.il/XMLSchema/Mission04" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Mission04">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="soLine" type="xs:integer"/>
							<xs:element name="soId" type="xs:integer"/>
							<xs:element name="internalOrder" type="xs:integer"/>
							<xs:element minOccurs="0" name="subscriberNumber" type="xs:string"/>
							<xs:element name="status" type="xs:integer"/>
							<xs:element minOccurs="0" name="lineCancelRsn" type="xs:string"/>
							<xs:element minOccurs="0" name="order35Status" type="xs:integer"/>
							<xs:element minOccurs="0" name="startDttm" type="xs:string"/>
							<xs:element minOccurs="0" name="endDttm" type="xs:string"/>
							<xs:element minOccurs="0" name="solutionId" type="xs:integer"/>
							<xs:element minOccurs="0" name="smartTestId" type="xs:integer"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="smartTestsSecondaryList">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="smartTestCodeId" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
