projlibProjAfterDeploy/BZQServices/NetworkPlanningDetails01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:NetworkPlanningDetails01="http://www.bezeq.co.il/XMLSchema/NetworkPlanningDetails01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/NetworkPlanningDetails01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="ezChiyugKodBzq" type="xs:string"/>
							<xs:element minOccurs="0" name="misparKodBzq" type="xs:integer"/>
							<xs:element minOccurs="0" name="semelIshuv" type="xs:integer"/>
							<xs:element minOccurs="0" name="semelRechov" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparBait" type="xs:integer"/>
							<xs:element minOccurs="0" name="sugBait" type="xs:string"/>
							<xs:element minOccurs="0" name="otBait" type="xs:string"/>
							<xs:element minOccurs="0" name="knisa" type="xs:string"/>
							<xs:element minOccurs="0" name="koma" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparDira" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="ezChiyugKodBzq" type="xs:string"/>
							<xs:element minOccurs="0" name="misparKodBzq" type="xs:integer"/>
							<xs:element minOccurs="0" name="semelIshuv" type="xs:integer"/>
							<xs:element minOccurs="0" name="semelRechov" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparBait" type="xs:integer"/>
							<xs:element minOccurs="0" name="sugBait" type="xs:string"/>
							<xs:element minOccurs="0" name="otBait" type="xs:string"/>
							<xs:element minOccurs="0" name="knisa" type="xs:string"/>
							<xs:element minOccurs="0" name="koma" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparDira" type="xs:integer"/>
							<xs:element minOccurs="0" name="matzavKodBzq" type="xs:integer"/>
							<xs:element minOccurs="0" name="teurMatzavKodBzq" type="xs:string"/>
							<xs:element minOccurs="0" name="merchav" type="xs:integer"/>
							<xs:element minOccurs="0" name="shana" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparTik" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparTikChadash" type="xs:integer"/>
							<xs:element minOccurs="0" name="merkazEzorSherut" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparEzorSherut" type="xs:integer"/>
							<xs:element minOccurs="0" name="shemKablan" type="xs:string"/>
							<xs:element minOccurs="0" name="matzavTik" type="xs:integer"/>
							<xs:element minOccurs="0" name="teurMatzavTik" type="xs:string"/>
							<xs:element minOccurs="0" name="taarichHakama" type="xs:date"/>
							<xs:element minOccurs="0" name="camutDirot" type="xs:integer"/>
							<xs:element minOccurs="0" name="misparHazmana" type="xs:integer"/>
							<xs:element minOccurs="0" name="ratzHazmana" type="xs:integer"/>
							<xs:element minOccurs="0" name="ezChiyugHazmana" type="xs:string"/>
							<xs:element minOccurs="0" name="misparTelHazmana" type="xs:integer"/>
							<xs:element minOccurs="0" name="shluchaHazmana" type="xs:integer"/>
							<xs:element minOccurs="0" name="kodHechzer" type="xs:integer"/>
							<xs:element minOccurs="0" name="teurKodHechzer" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
