projlibProjAfterDeploy/BZQServices/NumbersRange01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:NumbersRange01="http://www.bezeq.co.il/XMLSchema/NumbersRange01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/NumbersRange01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="operationCode" type="string"/>
							<element minOccurs="0" name="requestNumber" type="integer"/>
							<element minOccurs="0" name="rangeNumberType" type="string"/>
							<element minOccurs="0" name="specialServiceCode" type="integer"/>
							<element minOccurs="0" name="rangeNumberStatus" type="string"/>
							<element minOccurs="0" name="productType" type="string"/>
							<element minOccurs="0" name="productSubType" type="string"/>
							<element maxOccurs="50" minOccurs="0" name="numbersByParent">
								<complexType>
									<sequence>
										<element minOccurs="0" name="areaCode" type="integer"/>
										<element minOccurs="0" name="fromNumber" type="integer"/>
										<element minOccurs="0" name="toNumber" type="integer"/>
									</sequence>
								</complexType>
							</element>
							<element minOccurs="0" name="specialNumber" type="string"/>
							<element minOccurs="0" name="totalNumbers" type="integer"/>
							<element minOccurs="0" name="sequenceNumbers" type="integer"/>
							<element minOccurs="0" name="numbersStatus" type="string"/>
							<element minOccurs="0" name="rowNumber" type="integer"/>
							<element minOccurs="0" name="groupIdNumber" type="integer"/>
							<element minOccurs="0" name="primaryNumberPri" type="integer"/>
							<element minOccurs="0" name="omfOrderNumber" type="integer"/>
							<element minOccurs="0" name="cmOrderNumber" type="integer"/>
							<element minOccurs="0" name="digitsNumbe2dial" type="integer"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element maxOccurs="50" minOccurs="0" name="numbersByParent">
								<complexType>
									<sequence>
										<element minOccurs="0" name="areaCode" type="integer"/>
										<element minOccurs="0" name="areaCode4" type="integer"/>
										<element minOccurs="0" name="fromNumber" type="integer"/>
										<element minOccurs="0" name="toNumber" type="integer"/>
										<element minOccurs="0" name="statusShortDescription" type="string"/>
										<element minOccurs="0" name="numbersStatus" type="string"/>
										<element minOccurs="0" name="totalNumInRange" type="integer"/>
									</sequence>
								</complexType>
							</element>
							<element minOccurs="0" name="resultsQuantity" type="integer"/>
							<element minOccurs="0" name="totalNumbers" type="integer"/>
							<element minOccurs="0" name="totalRanges" type="integer"/>
							<element minOccurs="0" name="parentNumber" type="integer"/>
							<element minOccurs="0" name="bufferIndication" type="string"/>
							<element minOccurs="0" name="lastAreaCode" type="integer"/>
							<element minOccurs="0" name="lastAreaCode4" type="integer"/>
							<element minOccurs="0" name="lastNumber" type="integer"/>
							<element minOccurs="0" name="groupDigitsNumber" type="integer"/>
							<element minOccurs="0" name="messageSetNbr" type="integer"/>
							<element name="messageNbr" type="integer"/>
							<element minOccurs="0" name="messageDescription" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
