projlibProjAfterDeploy/BZQServices/Order01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Order01="http://www.bezeq.co.il/XMLSchema/Order01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Order01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="appDestination" type="xs:string"/>
							<xs:element name="appCode" type="xs:string"/>
							<xs:element name="userId" type="xs:string"/>
							<xs:element name="orderId" type="xs:integer"/>
							<xs:element minOccurs="0" name="orderNumber" type="xs:integer"/>
							<xs:element minOccurs="0" name="orderSq" type="xs:integer"/>
							<xs:element minOccurs="0" name="orderType" type="xs:integer"/>
							<xs:element minOccurs="1" name="orderStatus" type="xs:integer"/>
							<xs:element minOccurs="0" name="codeReturn" type="xs:integer"/>
							<xs:element minOccurs="0" name="descriptionReturn" type="xs:string"/>
							<xs:element minOccurs="0" name="appCodeError" type="xs:string"/>
							<xs:element minOccurs="0" name="codeError" type="xs:integer"/>
							<xs:element minOccurs="0" name="programError" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
