projlibProjAfterDeploy/BZQServices/OrderStatus05.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:OrderStatus05="http://www.bezeq.co.il/XMLSchema/OrderStatus05" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/OrderStatus05">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="destApplicationId" type="string"/>
							<element name="requestTimeStamp" type="dateTime"/>
							<element name="extOrderNo" type="integer"/>
							<element minOccurs="0" name="orderSeqNo" type="integer"/>
							<element minOccurs="0" name="extOrderSystem" type="integer"/>
							<element minOccurs="0" name="orderStatus" type="integer"/>
							<element minOccurs="0" name="orderStatusDate" type="dateTime"/>
							<element name="orderOpenDate" type="dateTime"/>
							<element name="oustomerId" type="integer"/>
							<element name="subscriberNo" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
