projlibProjAfterDeploy/BZQServices/OrderCompletion01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:OrderCompletion01="http://www.bezeq.co.il/XMLSchema/OrderCompletion01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/OrderCompletion01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="phoneNum" type="xs:string"/>
							<xs:element name="side" type="xs:string"/>
							<xs:element name="orderNumber" type="xs:string"/>
							<xs:element name="serviceOrderId" type="xs:string"/>
							<xs:element name="techId" type="xs:string"/>
							<xs:element name="isOrderChange" type="xs:string"/>
							<xs:element minOccurs="0" name="isEquipmentChange" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="equipments">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="catalogueNumber" type="xs:string"/>
										<xs:element minOccurs="0" name="side" type="xs:string"/>
										<xs:element minOccurs="0" name="UpdateType" type="xs:integer"/>
										<xs:element minOccurs="0" name="quantity" type="xs:string"/>
										<xs:element minOccurs="0" name="AdditionalInfo" type="xs:string"/>
										<xs:element minOccurs="0" name="Remark" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
