projlibProjAfterDeploy/BZQServices/OrderDetails08.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:OrderDetails08="http://www.bezeq.co.il/XMLSchema/OrderDetails08" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/OrderDetails08">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element minOccurs="0" name="orderNumber" type="string"/>
							<element minOccurs="0" name="kodKavPhys" type="string"/>
							<element minOccurs="0" name="actionCode" type="string"/>
							<element minOccurs="0" name="requestDate" type="dateTime"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element minOccurs="0" name="orderNumber" type="string"/>
							<element minOccurs="0" name="lineId" type="string"/>
							<element minOccurs="0" name="logLinkCode" type="string"/>
							<element minOccurs="0" name="activatedM7i" type="string"/>
							<element minOccurs="0" name="activatedVlan" type="string"/>
							<element minOccurs="0" name="activatedPort" type="string"/>
							<element minOccurs="0" name="actionCode" type="string"/>
							<element minOccurs="0" name="changerId" type="string"/>
							<element minOccurs="0" name="svlanMeActivated" type="string"/>
							<element minOccurs="0" name="cvlanMeActivated" type="string"/>
							<element minOccurs="0" name="statusRequest" type="string"/>
							<element minOccurs="0" name="errorMessage" type="string"/>
							<element minOccurs="0" name="sendDate" type="dateTime"/>
							<element minOccurs="0" name="messageSetNumber" type="string"/>
							<element minOccurs="0" name="messageNumber" type="string"/>
							<element minOccurs="0" name="messageDescription" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
