projlibProjAfterDeploy/BZQServices/OrganizerConnection01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:OrganizerConnection01="http://www.bezeq.co.il/XMLSchema/OrganizerConnection01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/OrganizerConnection01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="numMitkanOrg" type="xs:integer"/>
							<xs:element name="sugZiudOrg" type="xs:integer"/>
							<xs:element name="numRatzOrg" type="xs:string"/>
							<xs:element name="fromMisparSiv" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="numMitkanOrg" type="xs:integer"/>
							<xs:element name="sugZiudOrg" type="xs:integer"/>
							<xs:element name="numRatzOrg" type="xs:string"/>
							<xs:element name="fromMisparSiv" type="xs:integer"/>
							<xs:element name="numRecords" type="xs:integer"/>
							<xs:element maxOccurs="10" minOccurs="0" name="sivimRecords">
								<xs:complexType>
									<xs:sequence>
	              <xs:element minOccurs="1" name="misMitkan" type="xs:integer"/>
              <xs:element minOccurs="1" name="sugZiudOrg" type="xs:integer"/>
              <xs:element minOccurs="1" name="misRatzOrg" type="xs:string"/>
 									<xs:element name="numCable" type="xs:integer"/>
										<xs:element name="numOblik" type="xs:integer"/>
										<xs:element name="numSivInCable" type="xs:integer"/>
										<xs:element name="numSivInOrg" type="xs:integer"/>
										<xs:element minOccurs="0" name="sivService" type="xs:string"/>
										<xs:element minOccurs="0" name="status" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="errorCode" type="xs:string"/>
							<xs:element name="errorDescription" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
