projlibProjAfterDeploy/BZQServices/PaymentApproval01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:PaymentApproval01="http://www.bezeq.co.il/XMLSchema/PaymentApproval01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/PaymentApproval01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ban" type="xs:string"/>
							<xs:element name="invToPay" type="xs:string"/>
							<xs:element name="pymSourceId" type="xs:string"/>
							<xs:element name="pymType" type="xs:string"/>
							<xs:element name="paymentAmt" type="xs:string"/>
							<xs:element name="paymentDate" type="xs:string"/>
							<xs:element minOccurs="0" name="pymDepositId" type="xs:string"/>
							<xs:element name="paymentSts" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
