projlibProjAfterDeploy/BZQServices/PAYPayment.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:PAYPayment="http://www.bezeq.co.il/XMLSchema/PAYPayment" xmlns:Payment="http://www.bezeq.co.il/XMLSchema/Payment" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/PAYPayment">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/Payment" schemaLocation="../BZQSchemas/Payment.xsd"/>
	<xs:element name="payment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PAYPayment:request"/>
				<xs:element ref="PAYPayment:reply"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Payment:payment"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" ref="Payment:payment"/>
							<xs:element minOccurs="0" name="returnSource" type="xs:string"/>
							<xs:element minOccurs="0" name="returnCode" type="xs:string"/>
							<xs:element minOccurs="0" name="returnDesc" type="xs:string"/>
							<xs:element minOccurs="0" name="errorData" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
