projlibProjAfterDeploy/BZQServices/PdaAutoTest02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:PdaAutoTest02="http://www.bezeq.co.il/XMLSchema/PdaAutoTest02" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/PdaAutoTest02">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="phone" type="xs:string"/>
							<xs:element name="compTest" type="xs:string"/>
							<xs:element name="dslTest" type="xs:string"/>
							<xs:element name="qdnTest" type="xs:string"/>
							<xs:element name="pppTest" type="xs:string"/>
							<xs:element minOccurs="0" name="netCenter" type="xs:integer"/>
							<xs:element minOccurs="0" name="cNum" type="xs:integer"/>
							<xs:element minOccurs="0" name="cType" type="xs:integer"/>
							<xs:element minOccurs="0" name="lType" type="xs:integer"/>
							<xs:element minOccurs="0" name="lDescription" type="xs:string"/>
							<xs:element minOccurs="0" name="adsl">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="vc" type="xs:integer"/>
										<xs:element minOccurs="0" name="vpDsl" type="xs:integer"/>
										<xs:element minOccurs="0" name="dslam" type="xs:integer"/>
										<xs:element minOccurs="0" name="shelfSlot" type="xs:integer"/>
										<xs:element minOccurs="0" name="port" type="xs:integer"/>
										<xs:element minOccurs="0" name="ipAddress" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="sequip">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="equipCode" type="xs:integer"/>
										<xs:element minOccurs="0" name="frame" type="xs:integer"/>
										<xs:element minOccurs="0" name="equipName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="united">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="unit" type="xs:integer"/>
										<xs:element minOccurs="0" name="equipType" type="xs:string"/>
										<xs:element minOccurs="0" name="cageSlot" type="xs:integer"/>
										<xs:element minOccurs="0" name="port" type="xs:integer"/>
										<xs:element minOccurs="0" name="center" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="len">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="ru" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="phone" type="xs:string"/>
							<xs:element minOccurs="0" name="metallicResults">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="testStatus" type="xs:string"/>
										<xs:element name="failDescription" type="xs:string"/>
										<xs:element minOccurs="0" name="acv">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tg" type="xs:float"/>
													<xs:element minOccurs="0" name="rg" type="xs:float"/>
													<xs:element minOccurs="0" name="tr" type="xs:float"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="dcv">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tg" type="xs:float"/>
													<xs:element minOccurs="0" name="rg" type="xs:float"/>
													<xs:element minOccurs="0" name="tr" type="xs:float"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="res">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tg" type="xs:float"/>
													<xs:element minOccurs="0" name="rg" type="xs:float"/>
													<xs:element minOccurs="0" name="tr" type="xs:float"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="cap">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tg" type="xs:float"/>
													<xs:element minOccurs="0" name="rg" type="xs:float"/>
													<xs:element minOccurs="0" name="tr" type="xs:float"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="10" minOccurs="0" name="analyzeMsg" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="dslResults">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="testStatus" type="xs:string"/>
										<xs:element name="failDescription" type="xs:string"/>
										<xs:element minOccurs="0" name="portStat" type="xs:string"/>
										<xs:element minOccurs="0" name="syncStat" type="xs:string"/>
										<xs:element minOccurs="0" name="lastChange" type="xs:string"/>
										<xs:element minOccurs="0" name="modulationType" type="xs:string"/>
										<xs:element minOccurs="0" name="channelType" type="xs:string"/>
										<xs:element minOccurs="0" name="profileName" type="xs:string"/>
										<xs:element minOccurs="0" name="bitRate">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="maxUp" type="xs:float"/>
													<xs:element minOccurs="0" name="minUp" type="xs:float"/>
													<xs:element minOccurs="0" name="plannedUp" type="xs:float"/>
													<xs:element minOccurs="0" name="maxDown" type="xs:float"/>
													<xs:element minOccurs="0" name="minDown" type="xs:float"/>
													<xs:element minOccurs="0" name="plannedDown" type="xs:float"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="upStream">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="capacity" type="xs:float"/>
													<xs:element minOccurs="0" name="max" type="xs:float"/>
													<xs:element minOccurs="0" name="nm" type="xs:float"/>
													<xs:element minOccurs="0" name="attenuation" type="xs:float"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="downStream">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="capacity" type="xs:float"/>
													<xs:element minOccurs="0" name="max" type="xs:float"/>
													<xs:element minOccurs="0" name="nm" type="xs:float"/>
													<xs:element minOccurs="0" name="attenuation" type="xs:float"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="10" minOccurs="0" name="analyzeMsg" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="qdnResults">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="testStatus" type="xs:string"/>
										<xs:element name="failDescription" type="xs:string"/>
										<xs:element maxOccurs="30" minOccurs="0" name="singleFeature">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="featureCode" type="xs:string"/>
													<xs:element name="featureName" type="xs:string"/>
													<xs:element maxOccurs="20" minOccurs="0" name="property" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="ppp_results">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="testStatus">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="failDescription">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element maxOccurs="5" minOccurs="0" name="PPP_DATA">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="username">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="duration">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="provider">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="domain">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="source">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="cpe_mac">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="id7750">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="svlan">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="cvlan">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="recog">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="10" minOccurs="0" name="analyzeMsg">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="20" minOccurs="0" name="analyzeCodes">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="analyzeCode">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="messageSetNbr" type="xs:string"/>
							<xs:element name="messageNbr" type="xs:string"/>
							<xs:element minOccurs="0" name="messageDescr" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
