projlibProjAfterDeploy/BZQServices/PotentialNetwork01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:PotentialNetwork01="http://www.bezeq.co.il/XMLSchema/PotentialNetwork01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/PotentialNetwork01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="interfaceId" type="string"/>
							<element name="existPhoneNumber" type="string"/>
							<element maxOccurs="unbounded" minOccurs="0" name="orderServices">
								<complexType>
									<sequence>
										<element name="billingServiceId" type="string"/>
										<element name="serviceActionId" type="integer"/>
										<element maxOccurs="unbounded" minOccurs="0" name="orderParams">
											<complexType>
												<sequence>
													<element minOccurs="0" name="attributeName" type="string"/>
													<element minOccurs="0" name="attributeValue" type="string"/>
													<element minOccurs="0" name="attributesActionId" type="integer"/>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="infrstructureCompliance" type="string"/>
							<element name="status" type="integer"/>
							<element minOccurs="0" name="msgCode" type="string"/>
							<element minOccurs="0" name="msgDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
