projlibProjAfterDeploy/BZQServices/ProviderCustomers01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:ProviderCustomers01="http://www.bezeq.co.il/XMLSchema/ProviderCustomers01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/ProviderCustomers01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="phoneNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="mac" type="xs:string"/>
							<xs:element minOccurs="0" name="subProvider" type="xs:string"/>
							<xs:element minOccurs="0" name="providerExist" type="xs:string"/>
							<xs:element minOccurs="0" name="cellular" type="xs:string"/>
							<xs:element minOccurs="0" name="heker" type="xs:integer"/>
							<xs:element minOccurs="0" name="customerId" type="xs:integer"/>
							<xs:element minOccurs="0" name="id" type="xs:string"/>
							<xs:element minOccurs="0" name="email" type="xs:string"/>
							<xs:element minOccurs="0" name="sn" type="xs:string"/>
							<xs:element minOccurs="0" name="messageSesNbr" type="xs:integer"/>
							<xs:element minOccurs="0" name="MessageNbr" type="xs:integer"/>
							<xs:element minOccurs="0" name="messageDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
