projlibProjAfterDeploy/BZQServices/Reminder01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:Reminder01="http://www.bezeq.co.il/XMLSchema/Reminder01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Reminder01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="interfaceID" type="xs:string"/>
							<xs:element name="requestNo" type="xs:integer"/>
							<xs:element minOccurs="1" name="swOrder" type="xs:string"/>
							<xs:element name="orderSource" type="xs:string"/>
							<xs:element minOccurs="0" name="representativeId" type="xs:string"/>
							<xs:element minOccurs="0" name="customerId" type="xs:string"/>
							<xs:element minOccurs="0" name="subscriberNo" type="xs:string"/>
							<xs:element minOccurs="0" name="orderNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="remarkExtData" type="xs:string"/>
							<xs:element maxOccurs="20" name="equipmentCodesList">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="equipmentCode" type="xs:string"/>
										<xs:element minOccurs="0" name="bundleCode" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
