projlibProjAfterDeploy/BZQServices/ReplaceAddress01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:ReplaceAddress01="http://www.bezeq.co.il/XMLSchema/ReplaceAddress01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/ReplaceAddress01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="originalCityCode" type="xs:integer"/>
							<xs:element name="originalStreetCode" type="xs:integer"/>
							<xs:element name="originalBldgNum" type="xs:integer"/>
							<xs:element minOccurs="0" name="originalBldgLetter" type="xs:string"/>
							<xs:element name="newCityCode" type="xs:integer"/>
							<xs:element name="newStreetCode" type="xs:integer"/>
							<xs:element name="newBldgNum" type="xs:integer"/>
							<xs:element minOccurs="0" name="newBldgLetter" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="numMisgarotUpdated" type="xs:integer"/>
							<xs:element name="numHazmanotUpdated" type="xs:integer"/>
							<xs:element name="returncode" type="xs:integer"/>
							<xs:element minOccurs="0" name="returntext" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
