projlibProjAfterDeploy/BZQServices/RoutingIpAddress01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:RoutingIpAddress01="http://www.bezeq.co.il/XMLSchema/RoutingIpAddress01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/RoutingIpAddress01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="misparSherut" type="xs:string"/>
							<xs:element minOccurs="0" name="kodPeula" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="nituv">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="mitkan" type="xs:string"/>
										<xs:element minOccurs="0" name="misParit" type="xs:string"/>
										<xs:element minOccurs="0" name="sugTziud" type="xs:string"/>
										<xs:element minOccurs="0" name="hadak" type="xs:string"/>
										<xs:element minOccurs="0" name="ip" type="xs:string"/>
										<xs:element minOccurs="0" name="aluma" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="yeshTimsoret" type="xs:string"/>
							<xs:element minOccurs="0" name="sugKav" type="xs:string"/>
							<xs:element minOccurs="0" name="teurSugKav" type="xs:string"/>
							<xs:element minOccurs="0" name="shurotNituv" type="xs:integer"/>
							<xs:element minOccurs="0" name="kodHechzer" type="xs:string"/>
							<xs:element minOccurs="0" name="teurKodHechzer" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
