projlibProjAfterDeploy/BZQServices/SendSms03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:SendSms03="http://www.bezeq.co.il/XMLSchema/SendSms03" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/SendSms03">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="id" type="xs:string"/>
							<xs:element minOccurs="0" name="queueId" type="xs:string"/>
							<xs:element minOccurs="0" name="cli" type="xs:string"/>
							<xs:element minOccurs="0" name="shortCode" type="xs:string"/>
							<xs:element minOccurs="0" name="transactionId" type="xs:string"/>
							<xs:element minOccurs="0" name="msgTs" type="xs:string"/>
							<xs:element minOccurs="0" name="dlrTs" type="xs:string"/>
							<xs:element minOccurs="0" name="status" type="xs:string"/>
							<xs:element minOccurs="0" name="statusCode" type="xs:integer"/>
							<xs:element minOccurs="0" name="reason" type="xs:string"/>
							<xs:element minOccurs="0" name="msg_id" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
