projlibProjAfterDeploy/BZQServices/SingleConversion01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:SingleConversion01="http://www.bezeq.co.il/XMLSchema/SingleConversion01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/SingleConversion01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="migrationCode" type="xs:string"/>
							<xs:element name="migrationType" type="xs:string"/>
							<xs:element minOccurs="0" name="upTime" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="subscribersCount" type="xs:integer"/>
							<xs:element minOccurs="0" name="subscribers" type="xs:string"/>
<xs:element minOccurs="0" name="sourceMsags" type="xs:string"/>
<xs:element minOccurs="0" name="targetMsags" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
