projlibProjAfterDeploy/BZQServices/TableUpdate01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:TableUpdate01="http://www.bezeq.co.il/XMLSchema/TableUpdate01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/TableUpdate01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="teudatZehut" type="xs:string"/>
							<xs:element name="interfaceId" type="xs:integer"/>
							<xs:element name="actCode" type="xs:integer"/>
							<xs:element name="dptNumbe" type="xs:integer"/>
							<xs:element name="dptKey" type="xs:string"/>
							<xs:element name="dptRecordString" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="teudatZehut" type="xs:string"/>
							<xs:element name="interfaceId" type="xs:integer"/>
							<xs:element name="dptNumbe" type="xs:integer"/>
							<xs:element name="dptRecordString" type="xs:string"/>
							<xs:element name="returnCode" type="xs:integer"/>
							<xs:element minOccurs="0" name="ReturnText" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
