projlibProjAfterDeploy/BZQServices/UpdateTimeFrame01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:UpdateTimeFrame01="http://www.bezeq.co.il/XMLSchema/UpdateTimeFrame01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/UpdateTimeFrame01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="interfaceId" type="string"/>
							<element minOccurs="0" name="Row">
								<complexType>
									<sequence>
										<element name="taskNumber" type="integer"/>
										<element name="custName" type="string"/>
										<element name="cityName" type="string"/>
										<element name="streetName" type="string"/>
										<element name="houseNumber" type="integer"/>
										<element name="telNo1" type="string"/>
										<element minOccurs="0" name="windowDate" type="date"/>
										<element minOccurs="0" name="fromHour" type="time"/>
										<element minOccurs="0" name="toHour" type="time"/>
										<element name="taskStatus" type="integer"/>
										<element name="priority" type="integer"/>
										<element name="insertDate" type="dateTime"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="integfaceId" type="string"/>
							<element name="status" type="integer"/>
							<element name="msgDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
