projlibProjAfterDeploy/BZQServices/UpdateTechnician01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:UpdateTechnician01="http://www.bezeq.co.il/XMLSchema/UpdateTechnician01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/UpdateTechnician01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="interfaceId" type="string"/>
							<element name="providerId" type="string"/>
							<element name="providerMessageSendTime" type="dateTime"/>
							<element name="providerRequestId" type="string"/>
							<element name="requestType" type="string"/>
							<element name="bezeqRequestId" type="string"/>
							<element name="lineCode" type="string"/>
							<element name="serviceOrderNum" type="string"/>
							<element minOccurs="0" name="estimatedTimeFrom" type="dateTime"/>
							<element minOccurs="0" name="estimatedTimeTo" type="dateTime"/>
							<element minOccurs="0" name="techniaclMessageCode" type="string"/>
							<element minOccurs="0" name="technicalMessageDescription" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="interfaceId" type="string"/>
							<element name="ProviderId" type="string"/>
							<element name="ProviderMessageSendTime" type="dateTime"/>
							<element name="ProviderRequestId" type="string"/>
							<element minOccurs="0" name="messageSendTimeReturn" type="dateTime"/>
							<element minOccurs="0" name="bezeqRequestId" type="string"/>
							<element minOccurs="0" name="lineCode" type="string"/>
							<element minOccurs="0" name="serviceOrderNumber" type="string"/>
							<element minOccurs="0" name="estimatedTimeFrom" type="dateTime"/>
							<element minOccurs="0" name="estimatedTimeTo" type="dateTime"/>
							<element minOccurs="0" name="messageCode" type="string"/>
							<element minOccurs="0" name="messageDesc" type="string"/>
							<element minOccurs="0" name="techMessageCode" type="string"/>
							<element minOccurs="0" name="techMessageDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
