projlibProjAfterDeploy/BZQServices/UpdateAsMadeMap01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:UpdateAsMadeMap01="http://www.bezeq.co.il/XMLSchema/UpdateAsMadeMap01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/UpdateAsMadeMap01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="providerId" type="string"/>
							<element name="interfaceId" type="string"/>
							<element name="providerRequestId" type="string"/>
							<element name="providerMessageSendTime" type="dateTime"/>
							<element name="activityCode" type="string"/>
							<element minOccurs="0" name="taskId" type="string"/>
							<element minOccurs="0" name="activityType" type="string"/>
							<element minOccurs="0" name="lineCode" type="string"/>
							<element minOccurs="0" name="cableType" type="string"/>
							<element minOccurs="0" name="cableSizeAMCode" type="string"/>
							<element minOccurs="0" name="cableSizeAMDesc" type="string"/>
							<element minOccurs="0" name="elementCode" type="string"/>
							<element minOccurs="0" name="elementDesc" type="string"/>
							<element minOccurs="0" name="actualCableLength" type="string"/>
							<element minOccurs="0" name="requestFinishDate" type="string"/>
							<element maxOccurs="50" minOccurs="0" name="transitionInfrastructure">
								<complexType>
									<sequence>
										<element minOccurs="0" name="infrastructureTypeTransition" type="string"/>
										<element minOccurs="0" name="infrastructureIdTransition" type="string"/>
										<element minOccurs="0" name="wheelLeft" type="string"/>
										<element minOccurs="0" name="cableLeft" type="string"/>
									</sequence>
								</complexType>
							</element>
							<element minOccurs="0" name="bezeqInspectorName" type="string"/>
							<element minOccurs="0" name="hotComments" type="string"/>
							<element minOccurs="0" name="techMessageCode" type="string"/>
							<element minOccurs="0" name="techMessageDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="providerId" type="string"/>
							<element name="interfaceId" type="string"/>
							<element name="providerRequestId" type="string"/>
							<element name="providerMessageSendTime" type="dateTime"/>
							<element minOccurs="0" name="messageSendTimeReturn" type="dateTime"/>
							<element minOccurs="0" name="taskId" type="string"/>
							<element minOccurs="0" name="lineCode" type="string"/>
							<element name="activityCode" type="string"/>
							<element minOccurs="0" name="activityType" type="string"/>
							<element name="messageCode" type="string"/>
							<element minOccurs="0" name="messageDesc" type="string"/>
							<element minOccurs="0" name="techMessageCode" type="string"/>
							<element minOccurs="0" name="techMessageDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
	<simpleType name="dateTime">
		<restriction base="string"/>
	</simpleType>
</schema>
