projlibProjAfterDeploy/BZQServices/UpdateFault01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:UpdateFault01="http://www.bezeq.co.il/XMLSchema/UpdateFault01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/UpdateFault01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="providerId" type="xs:string"/>
							<xs:element name="providerMessageSendTime" type="xs:dateTime"/>
							<xs:element name="providerRequestId" type="xs:string"/>
							<xs:element name="interfaceId" type="xs:string"/>
							<xs:element name="requestType" type="xs:string"/>
							<xs:element minOccurs="0" name="bezeqRequestId" type="xs:string"/>
							<xs:element minOccurs="0" name="repeatedDefect" type="xs:string"/>
							<xs:element name="subscriberNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="providerComments" type="xs:string"/>
							<xs:element minOccurs="0" name="serviceOrderTypeCode" type="xs:string"/>
							<xs:element minOccurs="0" name="serviceOrderNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="orderId" type="xs:string"/>
							<xs:element minOccurs="0" name="requestDateFrom" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="requestDateTo" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="cityCode" type="xs:string"/>
							<xs:element minOccurs="0" name="cityName" type="xs:string"/>
							<xs:element minOccurs="0" name="streetCode" type="xs:string"/>
							<xs:element minOccurs="0" name="streetName" type="xs:string"/>
							<xs:element minOccurs="0" name="houseNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="letter" type="xs:string"/>
										<xs:element minOccurs="0" name="floor" type="xs:string"/>
										<xs:element minOccurs="0" name="apartment" type="xs:string"/>
										<xs:element minOccurs="0" name="buildingType" type="xs:string"/>
							<xs:element minOccurs="0" name="contactName" type="xs:string"/>
							<xs:element minOccurs="0" name="contactPhoneNumber" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="providerId" type="xs:string"/>
							<xs:element name="providerRequestId" type="xs:string"/>
							<xs:element name="providerMessageSendTime" type="xs:dateTime"/>
							<xs:element name="requestType" type="xs:string"/>
							<xs:element minOccurs="0" name="messageSendTimeReturn" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="bezeqRequestId" type="xs:string"/>
							<xs:element minOccurs="0" name="orderId" type="xs:string"/>
							<xs:element minOccurs="0" name="subscriberNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="serviceOrderNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="serviceOrderTypeDescription" type="xs:string"/>
							<xs:element minOccurs="0" name="slaTo" type="xs:date"/>
							<xs:element maxOccurs="50" minOccurs="0" name="timeIntervalDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="estimatedTimeFrom" type="xs:dateTime"/>
										<xs:element minOccurs="0" name="estimatedTimeTo" type="xs:dateTime"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="messageCode" type="xs:string"/>
							<xs:element minOccurs="0" name="messageDescription" type="xs:string"/>
							<xs:element minOccurs="0" name="technicalMessageCode" type="xs:string"/>
							<xs:element minOccurs="0" name="technicalMessageDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
