projlibProjAfterDeploy/BZQServices/UpdateLineCheck01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:UpdateLineCheck01="http://www.bezeq.co.il/XMLSchema/UpdateLineCheck01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/UpdateLineCheck01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="interfaceId" type="xs:string"/>
							<xs:element name="providerId" type="xs:string"/>
							<xs:element name="providerMessageSendTime" type="xs:dateTime"/>
							<xs:element name="providerRequestId" type="xs:string"/>
							<xs:element name="lineCode" type="xs:string"/>
							<xs:element name="actionCode" type="xs:string"/>
							<xs:element minOccurs="0" name="internationalOpr" type="xs:string"/>
							<xs:element minOccurs="0" name="internationalOprDesc" type="xs:string"/>
							<xs:element minOccurs="0" name="service" type="xs:string"/>
							<xs:element minOccurs="0" name="serviceAction" type="xs:string"/>
							<xs:element minOccurs="0" name="serviceDesc" type="xs:string"/>
							<xs:element maxOccurs="5" minOccurs="0" name="serviceParameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="serviceParam" type="xs:string"/>
										<xs:element minOccurs="0" name="serviceParamDesc" type="xs:string"/>
										<xs:element minOccurs="0" name="serviceParamValue" type="xs:string"/>
										<xs:element minOccurs="0" name="serviceParamValueDesc" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="techMessageCode" type="xs:string"/>
							<xs:element minOccurs="0" name="techMessageDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="providerId" type="xs:string"/>
							<xs:element name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="providerMessageSendTime" type="xs:dateTime"/>
							<xs:element name="providerRequestId" type="xs:string"/>
							<xs:element minOccurs="0" name="messageSendTimeReturn" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="bezeqRequestId" type="xs:string"/>

							<xs:element minOccurs="0" name="lineCode" type="xs:string"/>
							<xs:element minOccurs="0" name="box" type="xs:string"/>
							<xs:element minOccurs="0" name="tag" type="xs:string"/>
							<xs:element minOccurs="0" name="boxLocation" type="xs:string"/>
							<xs:element minOccurs="0" name="boxAdrress" type="xs:string"/>

							<xs:element minOccurs="0" name="messageCode" type="xs:string"/>
							<xs:element minOccurs="0" name="messageDesc" type="xs:string"/>
							<xs:element minOccurs="0" name="techMessageCode" type="xs:string"/>
							<xs:element minOccurs="0" name="techMessageDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
