projlibProjAfterDeploy/BZQServices/UpdateSplitDetails01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:UpdateSplitDetails01="http://www.bezeq.co.il/XMLSchema/UpdateSplitDetails01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/UpdateSplitDetails01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="actionType" type="xs:string"/>
							<xs:element minOccurs="0" name="paritNo" type="xs:string"/>
							<xs:element minOccurs="0" name="mitkanNo" type="xs:string"/>
							<xs:element minOccurs="0" name="sugTziudNBI" type="xs:string"/>
							<xs:element minOccurs="0" name="splitterLevel" type="xs:string"/>
							<xs:element minOccurs="0" name="splitRatio" type="xs:integer"/>
							<xs:element minOccurs="0" name="splitRatioDesc" type="xs:string"/>
							<xs:element minOccurs="0" name="noOfElement" type="xs:integer"/>
							<xs:element minOccurs="0" name="branchCapacity" type="xs:string"/>
							<xs:element minOccurs="0" name="details" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element minOccurs="0" name="paritNo" type="xs:string"/>
							<xs:element minOccurs="0" name="details" type="xs:string"/>
							<xs:element name="returnCode" type="xs:integer"/>
							<xs:element name="returnCodeDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
