projlibProjAfterDeploy/BZQServices/UpdateFaultDetails01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:UpdateFaultDetails01="http://www.bezeq.co.il/XMLSchema/UpdateFaultDetails01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/UpdateFaultDetails01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="providerId" type="string"/>
							<element name="interfaceId" type="string"/>
							<element name="providerRequestId" type="string"/>
							<element name="providerMessageSendTime" type="dateTime"/>
						<element name="requestType" type="string"/>
				<element minOccurs="0" name="faultId" type="string"/>
				<element minOccurs="0" name="lineCode" type="string"/>
				<element minOccurs="0" name="faultTypeCode" type="string"/>
				<element minOccurs="0" name="areaContactName" type="string"/>
				<element minOccurs="0" name="areaContactPhoneNum" type="string"/>
				<element minOccurs="0" name="infrastructureTypeNearestA" type="string"/>
				<element minOccurs="0" name="infrastructureIdNearestA" type="string"/>
				<element minOccurs="0" name="infrastructureTypeNearestB" type="string"/>
				<element minOccurs="0" name="infrastructureIdNearestB" type="string"/>
				<element minOccurs="0" name="unconnectedCustomers" type="string"/>
				<element minOccurs="0" name="locationCode" type="string"/>
				<element minOccurs="0" name="streetCode" type="string"/>
				<element minOccurs="0" name="houseNum" type="string"/>
				<element minOccurs="0" name="providerComments" type="string"/>
							<element minOccurs="0" name="techMessageCode" type="string"/>
							<element minOccurs="0" name="techMessageDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element name="providerId" type="string"/>
							<element name="interfaceId" type="string"/>
							<element name="providerRequestId" type="string"/>
							<element name="providerMessageSendTime" type="dateTime"/>
							<element minOccurs="0" name="messageSendTimeReturn" type="dateTime"/>
						<element minOccurs="0" name="requestType" type="string"/>
				<element minOccurs="0" name="faultId" type="string"/>
				<element name="lineCode" type="string"/>
				<element minOccurs="0" name="faultTypeDesc" type="string"/>
				<element minOccurs="0" name="faultStatusCode" type="string"/>
				<element minOccurs="0" name="faultStatusDesc" type="string"/>
							<element name="messageCode" type="string"/>
							<element minOccurs="0" name="messageDesc" type="string"/>
							<element minOccurs="0" name="techMessageCode" type="string"/>
							<element minOccurs="0" name="techMessageDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
