projlibProjAfterDeploy/BZQServices/ValidateAddress01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:ValidateAddress01="http://www.bezeq.co.il/XMLSchema/ValidateAddress01" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/ValidateAddress01">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="semelIshuv" type="xs:integer"/>
							<xs:element minOccurs="0" name="shemIshuv" type="xs:string"/>
							<xs:element minOccurs="0" name="semelRechov" type="xs:integer"/>
							<xs:element minOccurs="0" name="shemRechov" type="xs:string"/>
							<xs:element minOccurs="0" name="misparBait" type="xs:integer"/>
							<xs:element minOccurs="0" name="sugBait" type="xs:string"/>
							<xs:element minOccurs="0" name="otBait" type="xs:string"/>
							<xs:element minOccurs="0" name="knisa" type="xs:string"/>
							<xs:element minOccurs="0" name="koma" type="xs:integer"/>
							<xs:element minOccurs="0" name="dira" type="xs:integer"/>
							<xs:element minOccurs="0" name="gush" type="xs:integer"/>
							<xs:element minOccurs="0" name="chelka" type="xs:integer"/>
							<xs:element minOccurs="0" name="migrash" type="xs:integer"/>
							<xs:element minOccurs="0" name="shemMosad" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="Data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="semelIshuv" type="xs:integer"/>
                                                		<xs:element minOccurs="0" name="shemIshuv" type="xs:string"/>
                                                		<xs:element minOccurs="0" name="semelRechov" type="xs:integer"/>
                                               		 <xs:element minOccurs="0" name="shemRechov" type="xs:string"/>
                                               		 <xs:element minOccurs="0" name="misparBait" type="xs:integer"/>
                                               		 <xs:element minOccurs="0" name="sugBait" type="xs:string"/>
                                                		<xs:element minOccurs="0" name="otBait" type="xs:string"/>
                                                		<xs:element minOccurs="0" name="knisa" type="xs:string"/>
                                               		 <xs:element minOccurs="0" name="koma" type="xs:integer"/>
                                              			  <xs:element minOccurs="0" name="dira" type="xs:integer"/>
                                                		<xs:element minOccurs="0" name="gush" type="xs:integer"/>
                                               		 <xs:element minOccurs="0" name="chelka" type="xs:integer"/>
                                                		<xs:element minOccurs="0" name="migrash" type="xs:string"/>
                                              			  <xs:element minOccurs="0" name="shemMosad" type="xs:string"/>
                                               		 <xs:element minOccurs="0" name="nekudatTziunTzfoni" type="xs:integer"/>
                                               		 <xs:element minOccurs="0" name="nekudatTziunMisrachi" type="xs:integer"/>
                                               		 <xs:element minOccurs="0" name="sugNekudatTziun" type="xs:integer"/>
                                                		<xs:element minOccurs="0" name="matzavTazpit" type="xs:integer"/>
                                               		 <xs:element minOccurs="0" name="nihulPrisatReshet" type="xs:integer"/>
                                                		<xs:element minOccurs="0" name="totzatTiknunKlalit" type="xs:string"/>
                                               		 <xs:element minOccurs="0" name="totzatTiknunIshuv" type="xs:string"/>
                                                		<xs:element minOccurs="0" name="totzatTiknunRechov" type="xs:string"/>
                                                		<xs:element minOccurs="0" name="totzatTiknunBait" type="xs:string"/>
                                                		<xs:element minOccurs="0" name="totzatTiknunMosad" type="xs:string"/>
                                                		<xs:element minOccurs="0" name="totzatTiknunGush" type="xs:string"/>
                                                		<xs:element minOccurs="0" name="errorCode" type="xs:integer"/>
                                                		<xs:element minOccurs="0" name="errorDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
