projlibProjAfterDeploy/BZQServices/WorkTask01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:WorkTask01="http://www.bezeq.co.il/XMLSchema/WorkTask01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/WorkTask01">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="workTaskID" type="integer"/>
							<element minOccurs="0" name="workTaskStatus" type="integer"/>
							<element name="activationCode" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="workTaskID" type="integer"/>
							<element name="checkStatus" type="integer"/>
							<element name="primaryRecommendationId" type="string"/>
							<element minOccurs="0" name="primaryRecommendationDesc" type="string"/>
							<element maxOccurs="unbounded" minOccurs="0" name="analysisDetails">
								<complexType>
									<sequence>
										<element minOccurs="0" name="stTestType" type="string"/>
										<element minOccurs="0" name="testAnalysisId" type="string"/>
										<element minOccurs="0" name="testAnalysisDesc" type="string"/>
									</sequence>
								</complexType>
							</element>
							<element minOccurs="0" name="params">
								<complexType>
									<sequence>
										<element minOccurs="0" name="paramName" type="string"/>
										<element minOccurs="0" name="paramValue" type="string"/>
									</sequence>
								</complexType>
							</element>
							<element minOccurs="0" name="requestSts" type="integer"/>
							<element name="requestStsRsn" type="integer"/>
							<element minOccurs="0" name="errorDesc" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
