projlibProjAfterDeploy/BZQServices/WorkTask03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:WorkTask03="http://www.bezeq.co.il/XMLSchema/WorkTask03" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/WorkTask03">
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<element name="request">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="interfaceId" type="string"/>
							<element name="actionType" type="integer"/>
							<element name="workTaskId" type="integer"/>
							<element minOccurs="0" name="contractorId" type="integer"/>
							<element minOccurs="0" name="contractorImplementDate" type="dateTime"/>
							<element minOccurs="0" name="workTaskDetails" type="string"/>
							<element minOccurs="0" name="installation" type="string"/>
							<element minOccurs="0" name="cityId" type="integer"/>
							<element minOccurs="0" name="streetId" type="integer"/>
							<element minOccurs="0" name="house" type="integer"/>
							<element minOccurs="0" name="houseIndication" type="string"/>
							<element minOccurs="0" name="coordinate" type="string"/>
							<element minOccurs="0" name="apartmentsAmount" type="integer"/>
							<element minOccurs="0" name="floorAmount" type="integer"/>
							<element minOccurs="0" name="oldsection" type="integer"/>
							<element maxOccurs="unbounded" minOccurs="0" name="params">
								<complexType>
									<sequence>
										<element minOccurs="0" name="paramName" type="string"/>
										<element minOccurs="0" name="paramValue" type="string"/>
									</sequence>
								</complexType>
							</element>
							<element maxOccurs="unbounded" minOccurs="0" name="drawers">
								<complexType>
									<sequence>
										<element minOccurs="0" name="planetDrawerId" type="string"/>
										<element minOccurs="0" name="drawerDesc" type="string"/>
									</sequence>
								</complexType>
							</element>
							<element maxOccurs="unbounded" minOccurs="0" name="splitters">
								<complexType>
									<sequence>
										<element minOccurs="0" name="splittersTypeDesc" type="string"/>
										<element minOccurs="0" name="splitterFrame" type="string"/>
										<element minOccurs="0" name="planetDrawerId" type="string"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="reply">
		<complexType>
			<sequence>
				<element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<element minOccurs="0" name="Data">
					<complexType>
						<sequence>
							<element minOccurs="0" name="InterfaceId" type="string"/>
							<element name="workTaskId" type="integer"/>
							<element minOccurs="0" name="isStatusOk" type="integer"/>
							<element minOccurs="0" name="description" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element minOccurs="0" ref="BzqError:BzqError"/>
			</sequence>
		</complexType>
	</element>
</schema>
