projlibProjAfterDeploy/BZQSchemas/BILCustomer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.bezeq.co.il/XMLSchema/BILCustomer"
	 xmlns:BILCustomer = "http://www.bezeq.co.il/XMLSchema/BILCustomer"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "BILCustomer">
		<complexType>
			<sequence>
				<element name = "RecordIdentifier" type = "string" minOccurs = "0"/>
				<element name = "MsgDatetime" type = "dateTime" minOccurs = "0"/>
				<element name = "ActvCode" type = "string" minOccurs = "0"/>
				<element name = "ActvRsnCode" type = "string" minOccurs = "0"/>
				<element name = "IssueDate" type = "date" minOccurs = "0"/>
				<element name = "TrxSeqNo" type = "string" minOccurs = "0"/>
				<element name = "Ban" type = "string"/>
				<element name = "AccountType" type = "string" minOccurs = "0"/>
				<element name = "AccountSubType" type = "string" minOccurs = "0"/>
				<element name = "BanStatus" type = "string" minOccurs = "0"/>
				<element name = "StatusLastDate" type = "date" minOccurs = "0"/>
				<element name = "CustPersonalId" type = "string" minOccurs = "0"/>
				<element name = "CustPersonalId2nd" type = "string" minOccurs = "0"/>
				<element name = "CustomerGrade" type = "string" minOccurs = "0"/>
				<element name = "RegionCd" type = "string" minOccurs = "0"/>
				<element name = "DefaultBen" type = "string" minOccurs = "0"/>
				<element name = "CustomerContactMngr" type = "string" minOccurs = "0"/>
				<element name = "CompanyType" type = "string" minOccurs = "0"/>
				<element name = "B1CorporateId" type = "string" minOccurs = "0"/>
				<element name = "CorporateName" type = "string" minOccurs = "0"/>
				<element name = "LastBusinessName" type = "string" minOccurs = "0"/>
				<element name = "FirstName" type = "string"/>
				<element name = "AdrAttention" type = "string" minOccurs = "0"/>
				<element name = "AdrCity" type = "string" minOccurs = "0"/>
				<element name = "AdrHouseNo" type = "string" minOccurs = "0"/>
				<element name = "AdrStreetName" type = "string" minOccurs = "0"/>
				<element name = "AdrDistrict" type = "string" minOccurs = "0"/>
				<element name = "AdrPob" type = "string" minOccurs = "0"/>
				<element name = "ApartmentNumber" type = "string" minOccurs = "0"/>
				<element name = "AdrAptFloor" type = "string" minOccurs = "0"/>
				<element name = "AdrAptEntrance" type = "string" minOccurs = "0"/>
				<element name = "AdditionalHouseLetter" type = "string" minOccurs = "0"/>
				<element name = "AdrPostCode" type = "string" minOccurs = "0"/>
				<element name = "AdditionalStreetCd" type = "string" minOccurs = "0"/>
				<element name = "AdditionalCityCd" type = "string" minOccurs = "0"/>
				<element name = "AtSecClass" type = "string" minOccurs = "0"/>
				<element name = "CreditClass" type = "string" minOccurs = "0"/>
				<element name = "StartServiceDate" type = "date" minOccurs = "0"/>
				<element name = "MaxDatetime" type = "dateTime" minOccurs = "0"/>
				<element name = "IndActRsnCode" type = "string" minOccurs = "0"/>
				<element name = "LastBusinessName2nd" type = "string" minOccurs = "0"/>
				<element name = "FirstName2nd" type = "string" minOccurs = "0"/>
				<element name = "HomeTelno" type = "string" minOccurs = "0"/>
				<element name = "WorkTelno" type = "string" minOccurs = "0"/>
				<element name = "EMailAddr" type = "string" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
</schema>
