projlibProjAfterDeploy/BZQSchemas/Cases.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema--><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:Case="http://www.bezeq.co.il/XMLSchema/Case" xmlns:Cases="http://www.bezeq.co.il/XMLSchema/Cases" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/Cases">
	<import namespace="http://www.bezeq.co.il/XMLSchema/Case" schemaLocation="Case.xsd"/>
	<element name="Cases">
		<complexType>
			<sequence>
				<element name="SubscriberId" type="string"/>
				<element maxOccurs="unbounded" minOccurs="0" ref="Case:Case"/>
				<element minOccurs="0" name="Num" type="string"/>
				<element minOccurs="0" name="ReturnCode" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>
