projlibProjAfterDeploy/BZQSchemas/Case.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.bezeq.co.il/XMLSchema/Case"
	 xmlns:Case = "http://www.bezeq.co.il/XMLSchema/Case"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "Case">
		<complexType>
			<sequence>
				<element name = "SubscriberId" type = "string" minOccurs = "0"/>
				<element name = "CaseId" type = "string" minOccurs = "0"/>
				<element name = "StartDateTime" type = "dateTime" minOccurs = "0"/>
				<element name = "EndDateTime" type = "dateTime" minOccurs = "0"/>
				<element name = "CaseDays" type = "string" minOccurs = "0"/>
				<element name = "CaseDesc" type = "string" minOccurs = "0"/>
				<element name = "FixDesc" type = "string" minOccurs = "0"/>
				<element name = "BahanCaseID" type = "string" minOccurs = "0"/>
				<element name = "Status" type = "string" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
</schema>
