projlibProjAfterDeploy/BZQSchemas/KRTHandleMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:KRTHandleMsg="http://www.bezeq.co.il/XMLSchema/KRTHandleMsg"
	 targetNamespace="http://www.bezeq.co.il/XMLSchema/KRTHandleMsg"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="KRTHandleMsg">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="interfaceId" type="xs:string" minOccurs="0"/>
				<xs:element name="code" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="title" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="text"  type="xs:string" minOccurs="0"/>
				<xs:element name="objectType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="params" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="256"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="value" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="256"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
