projlibProjAfterDeploy/BZQSchemas/N1Lines.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:N1Lines="http://www.bezeq.co.il/XMLSchema/N1Lines"
	 targetNamespace="http://www.bezeq.co.il/XMLSchema/N1Lines"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="n1Lines">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="phoneList" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="phoneNum" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
