projlibProjAfterDeploy/BZQSchemas/NKKAddressMessage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:NKKAddress="http://www.bezeq.co.il/XMLSchema/NKKAddress" xmlns:NKKAddressMessage="http://www.bezeq.co.il/XMLSchema/NKKAddressMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/NKKAddressMessage">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../BZQ/SharedResources/schemas/BzqError.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../BZQ/SharedResources/schemas/BzqHeader.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/NKKAddress" schemaLocation="NKKAddress.xsd"/>
	<xs:element name="NKKAddressMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" ref="NKKAddress:Address"/>
				<xs:element minOccurs="0" name="FirstName" type="xs:string"/>
				<xs:element minOccurs="0" name="LastName" type="xs:string"/>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
