projlibProjAfterDeploy/BZQSchemas/TLTCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:TLTCustomer="http://www.bezeq.co.il/XMLSchema/TLTCustomer"
	 targetNamespace="http://www.bezeq.co.il/XMLSchema/TLTCustomer"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="TLTCustomer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CustomerNo" type="xs:string"/>
				<xs:element name="Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
				<xs:element name="SecurityInd" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
