projlibProjAfterDeploy/BZQ/SharedResources/schemas/HLPError.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:BzqError="http://www.bezeq.co.il/XMLSchema/BzqError" xmlns:BzqHeader="http://www.bezeq.co.il/XMLSchema/BzqHeader" xmlns:HLPError="http://www.bezeq.co.il/XMLSchema/HLPError" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bezeq.co.il/XMLSchema/HLPError">
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqError" schemaLocation="../schemas/BzqError.xsd"/>
	<xs:import namespace="http://www.bezeq.co.il/XMLSchema/BzqHeader" schemaLocation="../schemas/BzqHeader.xsd"/>
	<xs:element name="HLPError">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HLPError:request"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="BzqHeader:BzqHeader"/>
				<xs:element minOccurs="0" name="data">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="interfaceId" type="xs:string"/>
							<xs:element name="SourceInterfaceId" type="xs:string"/>
							<xs:element name="fastCode" type="xs:string"/>
							<xs:element name="equipmentCode" type="xs:string"/>
							<xs:element name="comment" type="xs:string"/>
							<xs:element name="errorDate" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="messageSetNumber" type="xs:integer"/>
							<xs:element name="messageNumber" type="xs:integer"/>
							<xs:element minOccurs="0" name="messageDescription" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" ref="BzqError:BzqError"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
